backend/Solar_Rosette_Backend_V7.4_FINAL_STABLE.json
{
    "name": "Solar Rosette Backend V7.4 (FINAL STABLE)",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "register",
                "responseMode": "lastNode",
                "options": {
                    "noResponseCustomHeaders": {
                        "entries": [
                            {
                                "name": "Access-Control-Allow-Origin",
                                "value": "*"
                            },
                            {
                                "name": "Access-Control-Allow-Methods",
                                "value": "GET,POST,PUT,DELETE,OPTIONS"
                            },
                            {
                                "name": "Access-Control-Allow-Headers",
                                "value": "Content-Type, Authorization"
                            }
                        ]
                    }
                }
            },
            "name": "Webhook Register",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                0,
                0
            ],
            "webhookId": "register-webhook"
        },
        {
            "parameters": {
                "jsCode": "const body = items[0].json.body || {};\nreturn [{\n  json: {\n    id: Date.now(),\n    name: body.name,\n    email: body.email,\n    cedula: String(body.cedula || '').trim(),\n    role: body.role || 'patient',\n    type: body.type || 'patient',\n    phone: body.phone || '',\n    notes: [],\n    registered_at: new Date().toISOString()\n  }\n}];"
            },
            "name": "Prepare Register Data",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                200,
                0
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://xcvtrgaasfqocjkeulfq.supabase.co/rest/v1/users",
                "authentication": "none",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhjdnRyZ2Fhc2Zxb2Nqa2V1bGZxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDU2ODUxMywiZXhwIjoyMDg2MTQ0NTEzfQ.0L7OllT7IYkrY_eI1UNFfmX0UIekr_PBCqsuaWuo0yo"
                        },
                        {
                            "name": "Authorization",
                            "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhjdnRyZ2Fhc2Zxb2Nqa2V1bGZxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDU2ODUxMywiZXhwIjoyMDg2MTQ0NTEzfQ.0L7OllT7IYkrY_eI1UNFfmX0UIekr_PBCqsuaWuo0yo"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        },
                        {
                            "name": "Prefer",
                            "value": "return=representation"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify($json) }}",
                "options": {}
            },
            "name": "Supabase Insert User",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                400,
                0
            ]
        },
        {
            "parameters": {
                "jsCode": "const res = items[0].json;\nif ((Array.isArray(res) && res.length > 0) || (res && res.id)) {\n  return [{ json: { success: true, user: Array.isArray(res) ? res[0] : res } }];\n}\nif (res.code === '23505') return [{ json: { success: false, message: 'La cédula o el correo ya están registrados.' } }];\nreturn [{ json: { success: false, message: 'Error en el registro', detail: res } }];"
            },
            "name": "Respond Register",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                600,
                0
            ]
        },
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "login",
                "responseMode": "lastNode",
                "options": {
                    "noResponseCustomHeaders": {
                        "entries": [
                            {
                                "name": "Access-Control-Allow-Origin",
                                "value": "*"
                            },
                            {
                                "name": "Access-Control-Allow-Methods",
                                "value": "GET,POST,OPTIONS"
                            }
                        ]
                    }
                }
            },
            "name": "Webhook Login",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                0,
                200
            ],
            "webhookId": "login-webhook"
        },
        {
            "parameters": {
                "method": "GET",
                "url": "https://xcvtrgaasfqocjkeulfq.supabase.co/rest/v1/users",
                "authentication": "none",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhjdnRyZ2Fhc2Zxb2Nqa2V1bGZxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDU2ODUxMywiZXhwIjoyMDg2MTQ0NTEzfQ.0L7OllT7IYkrY_eI1UNFfmX0UIekr_PBCqsuaWuo0yo"
                        },
                        {
                            "name": "Authorization",
                            "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhjdnRyZ2Fhc2Zxb2Nqa2V1bGZxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDU2ODUxMywiZXhwIjoyMDg2MTQ0NTEzfQ.0L7OllT7IYkrY_eI1UNFfmX0UIekr_PBCqsuaWuo0yo"
                        }
                    ]
                },
                "sendQueryParameters": true,
                "queryParameters": {
                    "parameters": [
                        {
                            "name": "cedula",
                            "value": "=eq.{{ String($json.body.cedula).trim() }}"
                        },
                        {
                            "name": "role",
                            "value": "=eq.{{ $json.body.role }}"
                        }
                    ]
                },
                "options": {
                    "alwaysOutputData": true
                }
            },
            "name": "Supabase Query User",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                300,
                200
            ]
        },
        {
            "parameters": {
                "jsCode": "const res = items[0].json;\nlet user = Array.isArray(res) ? res[0] : (res && res.id ? res : null);\nif (user) return [{ json: { success: true, user: user } }];\nreturn [{ json: { success: false, message: 'Usuario no encontrado.' } }];"
            },
            "name": "Respond Login",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                550,
                200
            ]
        },
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "appointments",
                "responseMode": "lastNode",
                "options": {
                    "noResponseCustomHeaders": {
                        "entries": [
                            {
                                "name": "Access-Control-Allow-Origin",
                                "value": "*"
                            },
                            {
                                "name": "Access-Control-Allow-Methods",
                                "value": "GET,POST,OPTIONS"
                            }
                        ]
                    }
                }
            },
            "name": "Webhook Create Appt",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                0,
                400
            ],
            "webhookId": "create-appt-webhook"
        },
        {
            "parameters": {
                "method": "GET",
                "url": "https://xcvtrgaasfqocjkeulfq.supabase.co/rest/v1/appointments",
                "authentication": "none",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhjdnRyZ2Fhc2Zxb2Nqa2V1bGZxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDU2ODUxMywiZXhwIjoyMDg2MTQ0NTEzfQ.0L7OllT7IYkrY_eI1UNFfmX0UIekr_PBCqsuaWuo0yo"
                        },
                        {
                            "name": "Authorization",
                            "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhjdnRyZ2Fhc2Zxb2Nqa2V1bGZxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDU2ODUxMywiZXhwIjoyMDg2MTQ0NTEzfQ.0L7OllT7IYkrY_eI1UNFfmX0UIekr_PBCqsuaWuo0yo"
                        }
                    ]
                },
                "sendQueryParameters": true,
                "queryParameters": {
                    "parameters": [
                        {
                            "name": "date_str",
                            "value": "=eq.{{ $node[\"Webhook Create Appt\"].json.body.dateStr }}"
                        },
                        {
                            "name": "time",
                            "value": "=eq.{{ $node[\"Webhook Create Appt\"].json.body.time }}"
                        },
                        {
                            "name": "status",
                            "value": "neq.CANCELADA"
                        }
                    ]
                },
                "options": {
                    "alwaysOutputData": true
                }
            },
            "name": "Check Conflict Supabase",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                200,
                400
            ]
        },
        {
            "parameters": {
                "jsCode": "const conflicts = items[0].json;\nconst body = $node[\"Webhook Create Appt\"].json.body;\nconst isOccupied = Array.isArray(conflicts) ? conflicts.length > 0 : (conflicts && conflicts.id);\n\nif (isOccupied) return [{ json: { success: false, conflict: true, message: 'Lo sentimos, esta hora ya está ocupada.' } }];\n\nreturn [{\n  json: {\n    id: Date.now(),\n    patient_name: body.patientName,\n    patient_cedula: String(body.patientCedula).trim(),\n    date_str: body.dateStr,\n    time: body.time,\n    type: body.type || 'Cita',\n    status: 'PENDIENTE',\n    color: 'bg-orange'\n  }\n}];"
            },
            "name": "Process Create Appt",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                400,
                400
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "boolean": [
                        {
                            "value1": "={{ $json.conflict }}",
                            "value2": true
                        }
                    ]
                }
            },
            "name": "Has Conflict?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                600,
                400
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://xcvtrgaasfqocjkeulfq.supabase.co/rest/v1/appointments",
                "authentication": "none",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhjdnRyZ2Fhc2Zxb2Nqa2V1bGZxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDU2ODUxMywiZXhwIjoyMDg2MTQ0NTEzfQ.0L7OllT7IYkrY_eI1UNFfmX0UIekr_PBCqsuaWuo0yo"
                        },
                        {
                            "name": "Authorization",
                            "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhjdnRyZ2Fhc2Zxb2Nqa2V1bGZxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDU2ODUxMywiZXhwIjoyMDg2MTQ0NTEzfQ.0L7OllT7IYkrY_eI1UNFfmX0UIekr_PBCqsuaWuo0yo"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        },
                        {
                            "name": "Prefer",
                            "value": "return=representation"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify($json) }}",
                "options": {}
            },
            "name": "Supabase Insert Appt",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                800,
                350
            ]
        },
        {
            "parameters": {
                "jsCode": "const res = items[0].json;\nif (res.conflict) return [{ json: res }];\nreturn [{ json: { success: true, appointment: Array.isArray(res) ? res[0] : res } }];"
            },
            "name": "Respond Create Appt",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1050,
                400
            ]
        },
        {
            "parameters": {
                "path": "appointments/available-hours",
                "responseMode": "lastNode",
                "options": {
                    "noResponseCustomHeaders": {
                        "entries": [
                            {
                                "name": "Access-Control-Allow-Origin",
                                "value": "*"
                            },
                            {
                                "name": "Access-Control-Allow-Methods",
                                "value": "GET,OPTIONS"
                            }
                        ]
                    }
                }
            },
            "name": "Webhook Availability",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                0,
                600
            ],
            "webhookId": "availability-webhook"
        },
        {
            "parameters": {
                "method": "GET",
                "url": "=https://xcvtrgaasfqocjkeulfq.supabase.co/rest/v1/appointments?date_str=eq.{{ $json.query.date }}&status=neq.CANCELADA",
                "authentication": "none",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhjdnRyZ2Fhc2Zxb2Nqa2V1bGZxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDU2ODUxMywiZXhwIjoyMDg2MTQ0NTEzfQ.0L7OllT7IYkrY_eI1UNFfmX0UIekr_PBCqsuaWuo0yo"
                        },
                        {
                            "name": "Authorization",
                            "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhjdnRyZ2Fhc2Zxb2Nqa2V1bGZxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDU2ODUxMywiZXhwIjoyMDg2MTQ0NTEzfQ.0L7OllT7IYkrY_eI1UNFfmX0UIekr_PBCqsuaWuo0yo"
                        }
                    ]
                },
                "options": {
                    "alwaysOutputData": true
                }
            },
            "name": "Supabase Get Occupied",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                300,
                600
            ]
        },
        {
            "parameters": {
                "jsCode": "const appts = items[0].json;\nconst date = $node[\"Webhook Availability\"].json.query.date;\nconst allHours = [];\nfor (let h = 9; h <= 17; h++) allHours.push(h.toString().padStart(2, '0') + ':00');\nlet occupied = [];\nif (Array.isArray(appts)) occupied = appts.map(a => a.time).filter(t => t);\nelse if (appts && appts.time) occupied = [appts.time];\nconst available = allHours.filter(h => !occupied.includes(h));\nreturn [{ json: { success: true, date, availableHours: available, occupiedHours: occupied, availableSlots: available.length } }];"
            },
            "name": "Respond Availability",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                550,
                600
            ]
        },
        {
            "parameters": {
                "path": "ping",
                "responseMode": "lastNode",
                "options": {
                    "noResponseCustomHeaders": {
                        "entries": [
                            {
                                "name": "Access-Control-Allow-Origin",
                                "value": "*"
                            }
                        ]
                    }
                }
            },
            "name": "Webhook Ping",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                0,
                800
            ],
            "webhookId": "ping-webhook"
        },
        {
            "parameters": {
                "jsCode": "return [{ json: { success: true, message: \"PONG - Backend V7.4 PRO READY\" } }];"
            },
            "name": "Respond Ping",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                250,
                800
            ]
        }
    ],
    "connections": {
        "Webhook Register": {
            "main": [
                [
                    {
                        "node": "Prepare Register Data",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Prepare Register Data": {
            "main": [
                [
                    {
                        "node": "Supabase Insert User",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Supabase Insert User": {
            "main": [
                [
                    {
                        "node": "Respond Register",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Webhook Login": {
            "main": [
                [
                    {
                        "node": "Supabase Query User",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Supabase Query User": {
            "main": [
                [
                    {
                        "node": "Respond Login",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Webhook Create Appt": {
            "main": [
                [
                    {
                        "node": "Check Conflict Supabase",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Check Conflict Supabase": {
            "main": [
                [
                    {
                        "node": "Process Create Appt",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Process Create Appt": {
            "main": [
                [
                    {
                        "node": "Has Conflict?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Has Conflict?": {
            "main": [
                [
                    {
                        "node": "Respond Create Appt",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Supabase Insert Appt",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Supabase Insert Appt": {
            "main": [
                [
                    {
                        "node": "Respond Create Appt",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Webhook Availability": {
            "main": [
                [
                    {
                        "node": "Supabase Get Occupied",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Supabase Get Occupied": {
            "main": [
                [
                    {
                        "node": "Respond Availability",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Webhook Ping": {
            "main": [
                [
                    {
                        "node": "Respond Ping",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}