backend/Solar_Rosette_Backend_V9.1_COMPLETE.json
{
    "name": "Solar Rosette Backend V9.1 COMPLETE",
    "nodes": [
        {
            "parameters": {
                "path": "ping",
                "responseMode": "responseNode",
                "options": {
                    "noResponseCustomHeaders": {
                        "entries": [
                            {
                                "name": "Access-Control-Allow-Origin",
                                "value": "*"
                            },
                            {
                                "name": "Access-Control-Allow-Headers",
                                "value": "Content-Type,Authorization,apikey"
                            }
                        ]
                    }
                }
            },
            "name": "Webhook Ping",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                0,
                0
            ],
            "webhookId": "ping-v91"
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "{\"success\":true,\"message\":\"V9.1 COMPLETE LIVE\"}",
                "options": {}
            },
            "name": "Respond Ping",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                250,
                0
            ]
        },
        {
            "parameters": {
                "path": "appointments/available-hours-v7",
                "responseMode": "responseNode",
                "options": {
                    "noResponseCustomHeaders": {
                        "entries": [
                            {
                                "name": "Access-Control-Allow-Origin",
                                "value": "*"
                            },
                            {
                                "name": "Access-Control-Allow-Headers",
                                "value": "Content-Type,Authorization,apikey"
                            }
                        ]
                    }
                }
            },
            "name": "Webhook Availability",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                0,
                250
            ],
            "webhookId": "avail-v91"
        },
        {
            "parameters": {
                "jsCode": "const q = items[0].json.query || {}; const d = q.date || new Date().toISOString().split('T')[0]; return [{ json: { date: d, url: `https://xcvtrgaasfqocjkeulfq.supabase.co/rest/v1/appointments?date_str=eq.${d}&status=neq.CANCELADA` } }];"
            },
            "name": "Prep Avail",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                250,
                250
            ]
        },
        {
            "parameters": {
                "url": "={{$json.url}}",
                "authentication": "none",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhjdnRyZ2Fhc2Zxb2Nqa2V1bGZxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDU2ODUxMywiZXhwIjoyMDg2MTQ0NTEzfQ.0L7OllT7IYkrY_eI1UNFfmX0UIekr_PBCqsuaWuo0yo"
                        },
                        {
                            "name": "Authorization",
                            "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhjdnRyZ2Fhc2Zxb2Nqa2V1bGZxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDU2ODUxMywiZXhwIjoyMDg2MTQ0NTEzfQ.0L7OllT7IYkrY_eI1UNFfmX0UIekr_PBCqsuaWuo0yo"
                        }
                    ]
                }
            },
            "name": "Supabase Avail",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                500,
                250
            ]
        },
        {
            "parameters": {
                "jsCode": "// FALLBACK FOR TESTING IF SUPABASE FAILS OR IS EMPTY\ntry { const appts = items[0].json; const target = $node[\"Prep Avail\"].json.date; const slots = []; for (let h = 9; h < 18; h++) { for (let m = 0; m < 60; m += 20) { slots.push(h.toString().padStart(2, '0') + ':' + m.toString().padStart(2, '0')); } } slots.push('18:00'); let occ = []; if (Array.isArray(appts)) occ = appts.map(a => a.time); const available = slots.filter(s => !occ.includes(s)); return [{ json: { success: true, date: target, availableHours: available } }]; } catch (e) { return [{ json: { success: false, message: e.message } }]; }"
            },
            "name": "Format Avail",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                750,
                250
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ JSON.stringify($json) }}",
                "options": {}
            },
            "name": "Respond Avail",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                1000,
                250
            ]
        },
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "login",
                "responseMode": "responseNode",
                "options": {
                    "noResponseCustomHeaders": {
                        "entries": [
                            {
                                "name": "Access-Control-Allow-Origin",
                                "value": "*"
                            },
                            {
                                "name": "Access-Control-Allow-Headers",
                                "value": "Content-Type,Authorization,apikey"
                            }
                        ]
                    }
                }
            },
            "name": "Webhook Login",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                0,
                -250
            ],
            "webhookId": "login-v91"
        },
        {
            "parameters": {
                "url": "https://xcvtrgaasfqocjkeulfq.supabase.co/rest/v1/users",
                "authentication": "none",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhjdnRyZ2Fhc2Zxb2Nqa2V1bGZxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDU2ODUxMywiZXhwIjoyMDg2MTQ0NTEzfQ.0L7OllT7IYkrY_eI1UNFfmX0UIekr_PBCqsuaWuo0yo"
                        },
                        {
                            "name": "Authorization",
                            "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhjdnRyZ2Fhc2Zxb2Nqa2V1bGZxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDU2ODUxMywiZXhwIjoyMDg2MTQ0NTEzfQ.0L7OllT7IYkrY_eI1UNFfmX0UIekr_PBCqsuaWuo0yo"
                        }
                    ]
                },
                "queryParameters": {
                    "parameters": [
                        {
                            "name": "cedula",
                            "value": "=eq.{{ String($json.body.cedula).trim() }}"
                        },
                        {
                            "name": "role",
                            "value": "=eq.{{ String($json.body.role) }}"
                        }
                    ]
                },
                "options": {
                    "alwaysOutputData": true
                }
            },
            "name": "Supabase Login",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                250,
                -250
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ JSON.stringify({ success: items[0].json.length > 0, user: items[0].json[0] || null }) }}",
                "options": {}
            },
            "name": "Respond Login",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                500,
                -250
            ]
        },
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "appointments",
                "responseMode": "responseNode",
                "options": {
                    "noResponseCustomHeaders": {
                        "entries": [
                            {
                                "name": "Access-Control-Allow-Origin",
                                "value": "*"
                            },
                            {
                                "name": "Access-Control-Allow-Headers",
                                "value": "Content-Type,Authorization,apikey"
                            }
                        ]
                    }
                }
            },
            "name": "Webhook Create",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                0,
                500
            ],
            "webhookId": "create-v91"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://xcvtrgaasfqocjkeulfq.supabase.co/rest/v1/appointments",
                "authentication": "none",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhjdnRyZ2Fhc2Zxb2Nqa2V1bGZxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDU2ODUxMywiZXhwIjoyMDg2MTQ0NTEzfQ.0L7OllT7IYkrY_eI1UNFfmX0UIekr_PBCqsuaWuo0yo"
                        },
                        {
                            "name": "Authorization",
                            "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhjdnRyZ2Fhc2Zxb2Nqa2V1bGZxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDU2ODUxMywiZXhwIjoyMDg2MTQ0NTEzfQ.0L7OllT7IYkrY_eI1UNFfmX0UIekr_PBCqsuaWuo0yo"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify({\n  id: Date.now(),\n  patient_name: $json.body.patientName,\n  patient_cedula: String($json.body.patientCedula).trim(),\n  date_str: $json.body.dateStr,\n  time: $json.body.time,\n  type: $json.body.type || 'Fisioterapia',\n  status: 'PENDIENTE',\n  color: 'bg-orange'\n}) }}",
                "options": {}
            },
            "name": "Supabase Create Appt",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                250,
                500
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ JSON.stringify({ success: !!$json.id || ($json.length > 0), appointment: $json }) }}",
                "options": {}
            },
            "name": "Respond Create",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                500,
                500
            ]
        }
    ],
    "connections": {
        "Webhook Ping": {
            "main": [
                [
                    {
                        "node": "Respond Ping",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Webhook Availability": {
            "main": [
                [
                    {
                        "node": "Prep Avail",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Prep Avail": {
            "main": [
                [
                    {
                        "node": "Supabase Avail",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Supabase Avail": {
            "main": [
                [
                    {
                        "node": "Format Avail",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Format Avail": {
            "main": [
                [
                    {
                        "node": "Respond Avail",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Webhook Login": {
            "main": [
                [
                    {
                        "node": "Supabase Login",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Supabase Login": {
            "main": [
                [
                    {
                        "node": "Respond Login",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Webhook Create": {
            "main": [
                [
                    {
                        "node": "Supabase Create Appt",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Supabase Create Appt": {
            "main": [
                [
                    {
                        "node": "Respond Create",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}