backend/Solar_Rosette_Backend_V9.4_COMPATIBILITY.json
{
    "name": "Solar Rosette Backend V9.4 COMPATIBILITY",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "GET",
                "path": "v9/ping",
                "responseMode": "responseNode",
                "options": {
                    "noResponseCustomHeaders": {
                        "entries": [
                            {
                                "name": "Access-Control-Allow-Origin",
                                "value": "*"
                            },
                            {
                                "name": "Access-Control-Allow-Headers",
                                "value": "*"
                            },
                            {
                                "name": "Access-Control-Allow-Methods",
                                "value": "*"
                            }
                        ]
                    }
                }
            },
            "name": "GET Ping",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                0,
                0
            ],
            "webhookId": "ping-v94-get"
        },
        {
            "parameters": {
                "httpMethod": "OPTIONS",
                "path": "v9/ping",
                "responseMode": "responseNode",
                "options": {
                    "noResponseCustomHeaders": {
                        "entries": [
                            {
                                "name": "Access-Control-Allow-Origin",
                                "value": "*"
                            },
                            {
                                "name": "Access-Control-Allow-Headers",
                                "value": "*"
                            },
                            {
                                "name": "Access-Control-Allow-Methods",
                                "value": "*"
                            }
                        ]
                    }
                }
            },
            "name": "OPTIONS Ping",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                0,
                100
            ],
            "webhookId": "ping-v94-opt"
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "{\"success\":true,\"message\":\"V9.4 COMPATIBILITY LIVE\"}",
                "options": {}
            },
            "name": "Respond Ping",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                300,
                0
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "{}",
                "options": {}
            },
            "name": "Respond OPTIONS",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                300,
                100
            ]
        },
        {
            "parameters": {
                "httpMethod": "GET",
                "path": "v9/availability",
                "responseMode": "responseNode",
                "options": {
                    "noResponseCustomHeaders": {
                        "entries": [
                            {
                                "name": "Access-Control-Allow-Origin",
                                "value": "*"
                            },
                            {
                                "name": "Access-Control-Allow-Headers",
                                "value": "*"
                            },
                            {
                                "name": "Access-Control-Allow-Methods",
                                "value": "*"
                            }
                        ]
                    }
                }
            },
            "name": "GET Availability",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                0,
                300
            ],
            "webhookId": "avail-v94-get"
        },
        {
            "parameters": {
                "httpMethod": "OPTIONS",
                "path": "v9/availability",
                "responseMode": "responseNode",
                "options": {
                    "noResponseCustomHeaders": {
                        "entries": [
                            {
                                "name": "Access-Control-Allow-Origin",
                                "value": "*"
                            },
                            {
                                "name": "Access-Control-Allow-Headers",
                                "value": "*"
                            },
                            {
                                "name": "Access-Control-Allow-Methods",
                                "value": "*"
                            }
                        ]
                    }
                }
            },
            "name": "OPTIONS Availability",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                0,
                400
            ],
            "webhookId": "avail-v94-opt"
        },
        {
            "parameters": {
                "jsCode": "const q = items[0].json.query || {}; const d = q.date || new Date().toISOString().split('T')[0]; return [{ json: { date: d, url: `https://xcvtrgaasfqocjkeulfq.supabase.co/rest/v1/appointments?date_str=eq.${d}&status=neq.CANCELADA` } }];"
            },
            "name": "Prep Avail",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                300,
                300
            ]
        },
        {
            "parameters": {
                "url": "={{$json.url}}",
                "authentication": "none",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhjdnRyZ2Fhc2Zxb2Nqa2V1bGZxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDU2ODUxMywiZXhwIjoyMDg2MTQ0NTEzfQ.0L7OllT7IYkrY_eI1UNFfmX0UIekr_PBCqsuaWuo0yo"
                        },
                        {
                            "name": "Authorization",
                            "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhjdnRyZ2Fhc2Zxb2Nqa2V1bGZxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDU2ODUxMywiZXhwIjoyMDg2MTQ0NTEzfQ.0L7OllT7IYkrY_eI1UNFfmX0UIekr_PBCqsuaWuo0yo"
                        }
                    ]
                }
            },
            "name": "Supabase Avail",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                500,
                300
            ]
        },
        {
            "parameters": {
                "jsCode": "try { const appts = items[0].json; const target = $node[\"Prep Avail\"].json.date; const slots = []; for (let h = 9; h < 18; h++) { for (let m = 0; m < 60; m += 20) { slots.push(h.toString().padStart(2, '0') + ':' + m.toString().padStart(2, '0')); } } slots.push('18:00'); let occ = []; if (Array.isArray(appts)) occ = appts.map(a => a.time); const available = slots.filter(s => !occ.includes(s)); return [{ json: { success: true, date: target, availableHours: available } }]; } catch (e) { return [{ json: { success: false, message: e.message } }]; }"
            },
            "name": "Format Avail",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                700,
                300
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ JSON.stringify($json) }}",
                "options": {}
            },
            "name": "Respond Avail",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                900,
                300
            ]
        },
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "v9/login",
                "responseMode": "responseNode",
                "options": {
                    "noResponseCustomHeaders": {
                        "entries": [
                            {
                                "name": "Access-Control-Allow-Origin",
                                "value": "*"
                            },
                            {
                                "name": "Access-Control-Allow-Headers",
                                "value": "*"
                            },
                            {
                                "name": "Access-Control-Allow-Methods",
                                "value": "*"
                            }
                        ]
                    }
                }
            },
            "name": "POST Login",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                0,
                -300
            ],
            "webhookId": "login-v94-post"
        },
        {
            "parameters": {
                "httpMethod": "OPTIONS",
                "path": "v9/login",
                "responseMode": "responseNode",
                "options": {
                    "noResponseCustomHeaders": {
                        "entries": [
                            {
                                "name": "Access-Control-Allow-Origin",
                                "value": "*"
                            },
                            {
                                "name": "Access-Control-Allow-Headers",
                                "value": "*"
                            },
                            {
                                "name": "Access-Control-Allow-Methods",
                                "value": "*"
                            }
                        ]
                    }
                }
            },
            "name": "OPTIONS Login",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                0,
                -200
            ],
            "webhookId": "login-v94-opt"
        },
        {
            "parameters": {
                "url": "https://xcvtrgaasfqocjkeulfq.supabase.co/rest/v1/users",
                "authentication": "none",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhjdnRyZ2Fhc2Zxb2Nqa2V1bGZxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDU2ODUxMywiZXhwIjoyMDg2MTQ0NTEzfQ.0L7OllT7IYkrY_eI1UNFfmX0UIekr_PBCqsuaWuo0yo"
                        },
                        {
                            "name": "Authorization",
                            "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhjdnRyZ2Fhc2Zxb2Nqa2V1bGZxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDU2ODUxMywiZXhwIjoyMDg2MTQ0NTEzfQ.0L7OllT7IYkrY_eI1UNFfmX0UIekr_PBCqsuaWuo0yo"
                        }
                    ]
                },
                "queryParameters": {
                    "parameters": [
                        {
                            "name": "cedula",
                            "value": "=eq.{{ String($json.body.cedula).trim() }}"
                        },
                        {
                            "name": "role",
                            "value": "=eq.{{ String($json.body.role) }}"
                        }
                    ]
                },
                "options": {
                    "alwaysOutputData": true
                }
            },
            "name": "Supabase Login",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                300,
                -300
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ JSON.stringify({ success: items[0].json.length > 0, user: items[0].json[0] || null }) }}",
                "options": {}
            },
            "name": "Respond Login",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                500,
                -300
            ]
        },
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "v9/appointments",
                "responseMode": "responseNode",
                "options": {
                    "noResponseCustomHeaders": {
                        "entries": [
                            {
                                "name": "Access-Control-Allow-Origin",
                                "value": "*"
                            },
                            {
                                "name": "Access-Control-Allow-Headers",
                                "value": "*"
                            },
                            {
                                "name": "Access-Control-Allow-Methods",
                                "value": "*"
                            }
                        ]
                    }
                }
            },
            "name": "POST Appointments",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                0,
                600
            ],
            "webhookId": "appt-v94-post"
        },
        {
            "parameters": {
                "httpMethod": "PUT",
                "path": "v9/appointments",
                "responseMode": "responseNode",
                "options": {
                    "noResponseCustomHeaders": {
                        "entries": [
                            {
                                "name": "Access-Control-Allow-Origin",
                                "value": "*"
                            },
                            {
                                "name": "Access-Control-Allow-Headers",
                                "value": "*"
                            },
                            {
                                "name": "Access-Control-Allow-Methods",
                                "value": "*"
                            }
                        ]
                    }
                }
            },
            "name": "PUT Appointments",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                0,
                700
            ],
            "webhookId": "appt-v94-put"
        },
        {
            "parameters": {
                "httpMethod": "DELETE",
                "path": "v9/appointments",
                "responseMode": "responseNode",
                "options": {
                    "noResponseCustomHeaders": {
                        "entries": [
                            {
                                "name": "Access-Control-Allow-Origin",
                                "value": "*"
                            },
                            {
                                "name": "Access-Control-Allow-Headers",
                                "value": "*"
                            },
                            {
                                "name": "Access-Control-Allow-Methods",
                                "value": "*"
                            }
                        ]
                    }
                }
            },
            "name": "DELETE Appointments",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                0,
                800
            ],
            "webhookId": "appt-v94-del"
        },
        {
            "parameters": {
                "httpMethod": "OPTIONS",
                "path": "v9/appointments",
                "responseMode": "responseNode",
                "options": {
                    "noResponseCustomHeaders": {
                        "entries": [
                            {
                                "name": "Access-Control-Allow-Origin",
                                "value": "*"
                            },
                            {
                                "name": "Access-Control-Allow-Headers",
                                "value": "*"
                            },
                            {
                                "name": "Access-Control-Allow-Methods",
                                "value": "*"
                            }
                        ]
                    }
                }
            },
            "name": "OPTIONS Appointments",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                0,
                900
            ],
            "webhookId": "appt-v94-opt"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://xcvtrgaasfqocjkeulfq.supabase.co/rest/v1/appointments",
                "authentication": "none",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhjdnRyZ2Fhc2Zxb2Nqa2V1bGZxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDU2ODUxMywiZXhwIjoyMDg2MTQ0NTEzfQ.0L7OllT7IYkrY_eI1UNFfmX0UIekr_PBCqsuaWuo0yo"
                        },
                        {
                            "name": "Authorization",
                            "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhjdnRyZ2Fhc2Zxb2Nqa2V1bGZxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDU2ODUxMywiZXhwIjoyMDg2MTQ0NTEzfQ.0L7OllT7IYkrY_eI1UNFfmX0UIekr_PBCqsuaWuo0yo"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify({\n  id: Date.now(),\n  patient_name: $json.body.patientName,\n  patient_cedula: String($json.body.patientCedula).trim(),\n  date_str: $json.body.dateStr,\n  time: $json.body.time,\n  type: $json.body.type || 'Fisioterapia',\n  status: 'PENDIENTE',\n  color: 'bg-orange'\n}) }}",
                "options": {}
            },
            "name": "Supabase CREATE",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                300,
                600
            ]
        },
        {
            "parameters": {
                "method": "PATCH",
                "url": "https://xcvtrgaasfqocjkeulfq.supabase.co/rest/v1/appointments",
                "authentication": "none",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhjdnRyZ2Fhc2Zxb2Nqa2V1bGZxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDU2ODUxMywiZXhwIjoyMDg2MTQ0NTEzfQ.0L7OllT7IYkrY_eI1UNFfmX0UIekr_PBCqsuaWuo0yo"
                        },
                        {
                            "name": "Authorization",
                            "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhjdnRyZ2Fhc2Zxb2Nqa2V1bGZxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDU2ODUxMywiZXhwIjoyMDg2MTQ0NTEzfQ.0L7OllT7IYkrY_eI1UNFfmX0UIekr_PBCqsuaWuo0yo"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendQueryParameters": true,
                "queryParameters": {
                    "parameters": [
                        {
                            "name": "id",
                            "value": "={{ 'eq.' + $json.body.id }}"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify({\n  status: $json.body.status,\n  color: $json.body.color\n}) }}",
                "options": {}
            },
            "name": "Supabase UPDATE",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                300,
                700
            ]
        },
        {
            "parameters": {
                "method": "DELETE",
                "url": "https://xcvtrgaasfqocjkeulfq.supabase.co/rest/v1/appointments",
                "authentication": "none",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhjdnRyZ2Fhc2Zxb2Nqa2V1bGZxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDU2ODUxMywiZXhwIjoyMDg2MTQ0NTEzfQ.0L7OllT7IYkrY_eI1UNFfmX0UIekr_PBCqsuaWuo0yo"
                        },
                        {
                            "name": "Authorization",
                            "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhjdnRyZ2Fhc2Zxb2Nqa2V1bGZxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDU2ODUxMywiZXhwIjoyMDg2MTQ0NTEzfQ.0L7OllT7IYkrY_eI1UNFfmX0UIekr_PBCqsuaWuo0yo"
                        }
                    ]
                },
                "sendQueryParameters": true,
                "queryParameters": {
                    "parameters": [
                        {
                            "name": "id",
                            "value": "={{ 'eq.' + $json.body.id }}"
                        }
                    ]
                },
                "options": {}
            },
            "name": "Supabase DELETE",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                300,
                800
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ JSON.stringify({ success: !!$json.id || ($json.length > 0), appointment: $json }) }}",
                "options": {}
            },
            "name": "Respond Create",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                500,
                600
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ JSON.stringify({ success: true, result: $json }) }}",
                "options": {}
            },
            "name": "Respond Update",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                500,
                700
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "{\"success\":true}",
                "options": {}
            },
            "name": "Respond Delete",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                500,
                800
            ]
        }
    ],
    "connections": {
        "GET Ping": {
            "main": [
                [
                    {
                        "node": "Respond Ping",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "OPTIONS Ping": {
            "main": [
                [
                    {
                        "node": "Respond OPTIONS",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "GET Availability": {
            "main": [
                [
                    {
                        "node": "Prep Avail",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "OPTIONS Availability": {
            "main": [
                [
                    {
                        "node": "Respond OPTIONS",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Prep Avail": {
            "main": [
                [
                    {
                        "node": "Supabase Avail",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Supabase Avail": {
            "main": [
                [
                    {
                        "node": "Format Avail",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Format Avail": {
            "main": [
                [
                    {
                        "node": "Respond Avail",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "POST Login": {
            "main": [
                [
                    {
                        "node": "Supabase Login",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "OPTIONS Login": {
            "main": [
                [
                    {
                        "node": "Respond OPTIONS",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Supabase Login": {
            "main": [
                [
                    {
                        "node": "Respond Login",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "POST Appointments": {
            "main": [
                [
                    {
                        "node": "Supabase CREATE",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "PUT Appointments": {
            "main": [
                [
                    {
                        "node": "Supabase UPDATE",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "DELETE Appointments": {
            "main": [
                [
                    {
                        "node": "Supabase DELETE",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "OPTIONS Appointments": {
            "main": [
                [
                    {
                        "node": "Respond OPTIONS",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Supabase CREATE": {
            "main": [
                [
                    {
                        "node": "Respond Create",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Supabase UPDATE": {
            "main": [
                [
                    {
                        "node": "Respond Update",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Supabase DELETE": {
            "main": [
                [
                    {
                        "node": "Respond Delete",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}