backend/Solar_Rosette_Backend_SUPABASE_V2.0_FINAL.json
{
    "name": "Solar Rosette Agenda (SUPABASE - FULL 2.0)",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "register",
                "responseMode": "responseNode",
                "options": {}
            },
            "name": "Webhook Register",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                860,
                300
            ],
            "webhookId": "register-webhook",
            "id": "d9f3fba0-2853-434b-af9d-044891792f16"
        },
        {
            "parameters": {
                "functionCode": "const body = items[0].json.body;\nconst SUPABASE_URL = 'https://vfbujngupbnvmlomzfgg.supabase.co';\nconst SUPABASE_KEY = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZmYnVqbmd1cGJudm1sb216ZmdnIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDYwMzU3MCwiZXhwIjoyMDg2MTc5NTcwfQ.jNHJ-2N3STg9vlKXW8sV3knsfjwe4XQfhfaT-Mwob4M';\n\ntry {\n  const checkRes = await fetch(\n    `${SUPABASE_URL}/rest/v1/users?or=(cedula.eq.${body.cedula},email.eq.${encodeURIComponent(body.email)})&select=id`,\n    { headers: { 'apikey': SUPABASE_KEY, 'Authorization': `Bearer ${SUPABASE_KEY}` } }\n  );\n  const existing = await checkRes.json();\n  \n  if (existing.length > 0) {\n    return [{ json: { success: false, message: 'La cedula o el correo electronico ya se encuentran registrados.' } }];\n  }\n\n  const newUser = {\n    name: body.name,\n    email: body.email,\n    cedula: String(body.cedula),\n    phone: body.phone || '',\n    role: body.role || 'patient',\n    type: body.type || '',\n    registered_at: new Date().toISOString()\n  };\n\n  const insertRes = await fetch(\n    `${SUPABASE_URL}/rest/v1/users`,\n    {\n      method: 'POST',\n      headers: {\n        'apikey': SUPABASE_KEY,\n        'Authorization': `Bearer ${SUPABASE_KEY}`,\n        'Content-Type': 'application/json',\n        'Prefer': 'return=representation'\n      },\n      body: JSON.stringify(newUser)\n    }\n  );\n  const inserted = await insertRes.json();\n  return [{ json: { success: true, user: inserted[0] } }];\n} catch (e) {\n  return [{ json: { success: false, message: e.message } }];\n}"
            },
            "name": "Register Logic",
            "type": "n8n-nodes-base.function",
            "typeVersion": 1,
            "position": [
                1120,
                300
            ],
            "id": "34eafeb8-97a3-4be3-8030-9b72e3e812c1"
        },
        {
            "parameters": {
                "options": {}
            },
            "name": "Respond Register",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                1380,
                300
            ],
            "id": "c510ed08-903a-4fec-9762-b27f27056438"
        },
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "login",
                "responseMode": "responseNode",
                "options": {}
            },
            "name": "Webhook Login",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                860,
                500
            ],
            "webhookId": "login-webhook",
            "id": "0df375bf-35cc-4128-b571-edf311daf42e"
        },
        {
            "parameters": {
                "functionCode": "const body = items[0].json.body;\nconst SUPABASE_URL = 'https://vfbujngupbnvmlomzfgg.supabase.co';\nconst SUPABASE_KEY = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZmYnVqbmd1cGJudm1sb216ZmdnIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDYwMzU3MCwiZXhwIjoyMDg2MTc5NTcwfQ.jNHJ-2N3STg9vlKXW8sV3knsfjwe4XQfhfaT-Mwob4M';\n\ntry {\n  let url = `${SUPABASE_URL}/rest/v1/users?cedula=eq.${body.cedula}&select=*`;\n  if (body.role) {\n    url += `&role=eq.${body.role}`;\n  }\n\n  const res = await fetch(url, {\n    headers: { 'apikey': SUPABASE_KEY, 'Authorization': `Bearer ${SUPABASE_KEY}` }\n  });\n  const users = await res.json();\n\n  if (users.length > 0) {\n    return [{ json: { success: true, user: users[0] } }];\n  }\n  return [{ json: { success: false, message: 'Usuario no encontrado' } }];\n} catch (e) {\n  return [{ json: { success: false, message: e.message } }];\n}"
            },
            "name": "Login Logic",
            "type": "n8n-nodes-base.function",
            "typeVersion": 1,
            "position": [
                1120,
                500
            ],
            "id": "37ef2165-9998-4ce6-ad42-73841bb72ab2"
        },
        {
            "parameters": {
                "options": {}
            },
            "name": "Respond Login",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                1380,
                500
            ],
            "id": "79227cb3-677f-4bf1-ab75-a286c3f71721"
        },
        {
            "parameters": {
                "path": "users",
                "responseMode": "responseNode",
                "options": {}
            },
            "name": "Webhook Get User",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                860,
                700
            ],
            "webhookId": "get-user-webhook",
            "id": "e5400d2b-69b7-4f77-a91f-c369748e67e3"
        },
        {
            "parameters": {
                "functionCode": "const query = items[0].json.query;\nconst cedula = query.cedula;\nconst role = query.role;\nconst SUPABASE_URL = 'https://vfbujngupbnvmlomzfgg.supabase.co';\nconst SUPABASE_KEY = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZmYnVqbmd1cGJudm1sb216ZmdnIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDYwMzU3MCwiZXhwIjoyMDg2MTc5NTcwfQ.jNHJ-2N3STg9vlKXW8sV3knsfjwe4XQfhfaT-Mwob4M';\n\ntry {\n  if (!cedula) return [{ json: { success: false, message: 'No cedula provided' } }];\n\n  let url;\n  if (cedula === 'ALL' && role === 'admin') {\n    url = `${SUPABASE_URL}/rest/v1/users?select=*`;\n  } else {\n    url = `${SUPABASE_URL}/rest/v1/users?cedula=eq.${cedula}&select=*`;\n  }\n\n  const res = await fetch(url, {\n    headers: { 'apikey': SUPABASE_KEY, 'Authorization': `Bearer ${SUPABASE_KEY}` }\n  });\n  const users = await res.json();\n\n  if (cedula === 'ALL' && role === 'admin') {\n    return [{ json: { success: true, users: users } }];\n  }\n\n  if (users.length > 0) {\n    return [{ json: { success: true, user: users[0], users: users } }];\n  }\n  return [{ json: { success: false, message: 'Usuario no encontrado', users: [] } }];\n} catch (e) {\n  return [{ json: { success: false, message: e.message } }];\n}"
            },
            "name": "Get User Logic",
            "type": "n8n-nodes-base.function",
            "typeVersion": 1,
            "position": [
                1120,
                700
            ],
            "id": "cb63d4ba-0272-4c26-b887-4e634ed9ddc0"
        },
        {
            "parameters": {
                "options": {}
            },
            "name": "Respond Get User",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                1380,
                700
            ],
            "id": "43a218d2-309e-4d1e-85fc-ef8b85f24dfc"
        },
        {
            "parameters": {
                "httpMethod": "PUT",
                "path": "users",
                "responseMode": "responseNode",
                "options": {}
            },
            "name": "Webhook Update User",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                860,
                900
            ],
            "webhookId": "update-user-webhook",
            "id": "98aae394-ba72-44da-a42b-a7e4499d4f43"
        },
        {
            "parameters": {
                "functionCode": "const body = items[0].json.body || {};\nconst cedula = body.cedula;\nconst notes = body.notes;\nconst SUPABASE_URL = 'https://vfbujngupbnvmlomzfgg.supabase.co';\nconst SUPABASE_KEY = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZmYnVqbmd1cGJudm1sb216ZmdnIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDYwMzU3MCwiZXhwIjoyMDg2MTc5NTcwfQ.jNHJ-2N3STg9vlKXW8sV3knsfjwe4XQfhfaT-Mwob4M';\n\ntry {\n  if (!cedula) return [{ json: { success: false, message: 'Cedula requerida' } }];\n\n  const updateData = {};\n  if (notes !== undefined) updateData.notes = notes;\n\n  const res = await fetch(\n    `${SUPABASE_URL}/rest/v1/users?cedula=eq.${cedula}`,\n    {\n      method: 'PATCH',\n      headers: {\n        'apikey': SUPABASE_KEY,\n        'Authorization': `Bearer ${SUPABASE_KEY}`,\n        'Content-Type': 'application/json',\n        'Prefer': 'return=representation'\n      },\n      body: JSON.stringify(updateData)\n    }\n  );\n  const updated = await res.json();\n\n  if (updated.length > 0) {\n    return [{ json: { success: true, user: updated[0] } }];\n  }\n  return [{ json: { success: false, message: 'Usuario no encontrado' } }];\n} catch (e) {\n  return [{ json: { success: false, message: e.message } }];\n}"
            },
            "name": "Update User Logic",
            "type": "n8n-nodes-base.function",
            "typeVersion": 1,
            "position": [
                1120,
                900
            ],
            "id": "208c4511-c672-4d6d-9527-584ea14e8d14"
        },
        {
            "parameters": {
                "options": {}
            },
            "name": "Respond Update User",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                1380,
                900
            ],
            "id": "64a3663c-76d4-4bbb-8382-0deae52772ae"
        },
        {
            "parameters": {
                "httpMethod": "DELETE",
                "path": "users",
                "responseMode": "responseNode",
                "options": {}
            },
            "name": "Webhook Delete Users",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                860,
                1100
            ],
            "webhookId": "delete-users-webhook",
            "id": "3b762641-dcb7-495f-9521-d4062364d20e"
        },
        {
            "parameters": {
                "functionCode": "const body = items[0].json.body || items[0].json.query || {};\nconst cedulaToDelete = body.id || body.cedula;\nconst SUPABASE_URL = 'https://vfbujngupbnvmlomzfgg.supabase.co';\nconst SUPABASE_KEY = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZmYnVqbmd1cGJudm1sb216ZmdnIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDYwMzU3MCwiZXhwIjoyMDg2MTc5NTcwfQ.jNHJ-2N3STg9vlKXW8sV3knsfjwe4XQfhfaT-Mwob4M';\n\ntry {\n  if (cedulaToDelete) {\n    const res = await fetch(\n      `${SUPABASE_URL}/rest/v1/users?cedula=eq.${cedulaToDelete}`,\n      {\n        method: 'DELETE',\n        headers: {\n          'apikey': SUPABASE_KEY,\n          'Authorization': `Bearer ${SUPABASE_KEY}`,\n          'Prefer': 'return=representation'\n        }\n      }\n    );\n    const deleted = await res.json();\n    return [{ json: { success: true, deleted: deleted.length, message: 'Usuario eliminado correctamente' } }];\n  } else {\n    const keepCedula = '1000595131';\n    const res = await fetch(\n      `${SUPABASE_URL}/rest/v1/users?cedula=neq.${keepCedula}`,\n      {\n        method: 'DELETE',\n        headers: {\n          'apikey': SUPABASE_KEY,\n          'Authorization': `Bearer ${SUPABASE_KEY}`,\n          'Prefer': 'return=representation'\n        }\n      }\n    );\n    const deleted = await res.json();\n    return [{ json: { success: true, deleted: deleted.length, message: 'Limpieza masiva completada' } }];\n  }\n} catch (e) {\n  return [{ json: { success: false, message: e.message } }];\n}"
            },
            "name": "Delete Users Logic",
            "type": "n8n-nodes-base.function",
            "typeVersion": 1,
            "position": [
                1120,
                1100
            ],
            "id": "58ed9a3b-3d7f-4833-84cb-799ccccafc86"
        },
        {
            "parameters": {
                "options": {}
            },
            "name": "Respond Delete Users",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                1380,
                1100
            ],
            "id": "a6447c11-46c9-41a5-917d-c7f4a3273d53"
        },
        {
            "parameters": {
                "path": "agenda-view",
                "responseMode": "responseNode",
                "options": {}
            },
            "name": "Webhook View DB",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                860,
                1300
            ],
            "webhookId": "view-db-webhook",
            "id": "22628819-062c-41d6-b921-864a848d8f93"
        },
        {
            "parameters": {
                "functionCode": "const SUPABASE_URL = 'https://vfbujngupbnvmlomzfgg.supabase.co';\nconst SUPABASE_KEY = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZmYnVqbmd1cGJudm1sb216ZmdnIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDYwMzU3MCwiZXhwIjoyMDg2MTc5NTcwfQ.jNHJ-2N3STg9vlKXW8sV3knsfjwe4XQfhfaT-Mwob4M';\n\ntry {\n  const res = await fetch(\n    `${SUPABASE_URL}/rest/v1/users?select=*`,\n    { headers: { 'apikey': SUPABASE_KEY, 'Authorization': `Bearer ${SUPABASE_KEY}` } }\n  );\n  const users = await res.json();\n\n  let html = `<html><head><style>body{font-family:sans-serif;padding:20px}table{border-collapse:collapse;width:100%}th,td{border:1px solid #ccc;padding:8px}th{background:#eee}</style></head><body><h1>Usuarios Registrados (Supabase)</h1><table><tr><th>ID</th><th>Nombre</th><th>Email</th><th>Cedula</th><th>Rol</th><th>Notas</th></tr>`;\n\n  users.forEach(u => {\n    html += `<tr><td>${u.id}</td><td>${u.name}</td><td>${u.email}</td><td>${u.cedula}</td><td><b>${u.role}</b></td><td>${u.notes || ''}</td></tr>`;\n  });\n\n  html += `</table><p>Total: ${users.length} usuarios</p></body></html>`;\n  return [{ json: { html } }];\n} catch (e) {\n  return [{ json: { html: `<html><body><h1>Error</h1><p>${e.message}</p></body></html>` } }];\n}"
            },
            "name": "Generate User Table HTML",
            "type": "n8n-nodes-base.function",
            "typeVersion": 1,
            "position": [
                1120,
                1300
            ],
            "id": "6c16c222-6b59-4684-bdb7-020120460e47"
        },
        {
            "parameters": {
                "respondWith": "text",
                "responseBody": "={{ $json.html }}",
                "options": {}
            },
            "name": "Respond HTML",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                1380,
                1300
            ],
            "id": "e2e6a6bd-c5d4-42c2-961f-a3626f91d4f5"
        },
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "appointments",
                "responseMode": "responseNode",
                "options": {}
            },
            "name": "Webhook Create",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                860,
                1600
            ],
            "webhookId": "create-appt-webhook",
            "id": "4ca70872-c649-407f-9fae-1ac72da28f68"
        },
        {
            "parameters": {
                "functionCode": "const body = items[0].json.body;\nconst SUPABASE_URL = 'https://vfbujngupbnvmlomzfgg.supabase.co';\nconst SUPABASE_KEY = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZmYnVqbmd1cGJudm1sb216ZmdnIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDYwMzU3MCwiZXhwIjoyMDg2MTc5NTcwfQ.jNHJ-2N3STg9vlKXW8sV3knsfjwe4XQfhfaT-Mwob4M';\n\ntry {\n  const checkRes = await fetch(\n    `${SUPABASE_URL}/rest/v1/appointments?date_str=eq.${body.dateStr}&time=eq.${encodeURIComponent(body.time)}&status=neq.CANCELADA&select=id`,\n    { headers: { 'apikey': SUPABASE_KEY, 'Authorization': `Bearer ${SUPABASE_KEY}` } }\n  );\n  const conflicts = await checkRes.json();\n\n  if (conflicts.length > 0) {\n    return [{ json: { success: false, message: 'Lo sentimos, esta hora ya esta ocupada por otro paciente.' } }];\n  }\n\n  const newAppt = {\n    patient_name: body.patientName,\n    patient_cedula: String(body.patientCedula),\n    date_str: body.dateStr,\n    time: body.time,\n    type: body.type || 'Cita',\n    status: 'PENDIENTE',\n    color: 'bg-orange'\n  };\n\n  const insertRes = await fetch(\n    `${SUPABASE_URL}/rest/v1/appointments`,\n    {\n      method: 'POST',\n      headers: {\n        'apikey': SUPABASE_KEY,\n        'Authorization': `Bearer ${SUPABASE_KEY}`,\n        'Content-Type': 'application/json',\n        'Prefer': 'return=representation'\n      },\n      body: JSON.stringify(newAppt)\n    }\n  );\n  const inserted = await insertRes.json();\n\n  const mapped = inserted[0];\n  const result = {\n    id: mapped.id,\n    patientName: mapped.patient_name,\n    patientCedula: mapped.patient_cedula,\n    dateStr: mapped.date_str,\n    time: mapped.time,\n    type: mapped.type,\n    status: mapped.status,\n    color: mapped.color\n  };\n\n  return [{ json: { success: true, appointment: result } }];\n} catch (e) {\n  return [{ json: { success: false, message: e.message } }];\n}"
            },
            "name": "Create Logic",
            "type": "n8n-nodes-base.function",
            "typeVersion": 1,
            "position": [
                1120,
                1600
            ],
            "id": "8262ad93-aaa7-48a2-82ea-32c844eace7d"
        },
        {
            "parameters": {
                "options": {}
            },
            "name": "Respond Create",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                1380,
                1600
            ],
            "id": "c5e074d4-7079-4932-a165-827159211c44"
        },
        {
            "parameters": {
                "path": "appointments",
                "responseMode": "responseNode",
                "options": {}
            },
            "name": "Webhook Get",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                860,
                1800
            ],
            "webhookId": "get-appts-webhook",
            "id": "9704f6d0-c69a-404a-bc3a-863ad98ca548"
        },
        {
            "parameters": {
                "functionCode": "const query = items[0].json.query;\nconst userCedula = query.cedula;\nconst userRole = query.role;\nconst SUPABASE_URL = 'https://vfbujngupbnvmlomzfgg.supabase.co';\nconst SUPABASE_KEY = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZmYnVqbmd1cGJudm1sb216ZmdnIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDYwMzU3MCwiZXhwIjoyMDg2MTc5NTcwfQ.jNHJ-2N3STg9vlKXW8sV3knsfjwe4XQfhfaT-Mwob4M';\n\ntry {\n  let url;\n  if (userRole === 'professional' || userRole === 'admin') {\n    url = `${SUPABASE_URL}/rest/v1/appointments?select=*`;\n  } else {\n    if (!userCedula) {\n      return [{ json: { success: true, appointments: [] } }];\n    }\n    url = `${SUPABASE_URL}/rest/v1/appointments?patient_cedula=eq.${userCedula}&select=*`;\n  }\n\n  const res = await fetch(url, {\n    headers: { 'apikey': SUPABASE_KEY, 'Authorization': `Bearer ${SUPABASE_KEY}` }\n  });\n  const appts = await res.json();\n\n  const mapped = appts.map(a => ({\n    id: a.id,\n    patientName: a.patient_name,\n    patientCedula: a.patient_cedula,\n    dateStr: a.date_str,\n    time: a.time,\n    type: a.type,\n    status: a.status,\n    color: a.color\n  }));\n\n  return [{ json: { success: true, appointments: mapped } }];\n} catch (e) {\n  return [{ json: { success: false, message: e.message } }];\n}"
            },
            "name": "Get Logic (Filtered)",
            "type": "n8n-nodes-base.function",
            "typeVersion": 1,
            "position": [
                1120,
                1800
            ],
            "id": "32fcfa6d-7307-46e8-8150-a95facfa5d06"
        },
        {
            "parameters": {
                "options": {}
            },
            "name": "Respond Get",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                1380,
                1800
            ],
            "id": "32b3bc4a-84c5-4df4-8f1c-c2e23a201b16"
        },
        {
            "parameters": {
                "httpMethod": "PUT",
                "path": "appointments",
                "responseMode": "responseNode",
                "options": {}
            },
            "name": "Webhook Update",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                860,
                2000
            ],
            "webhookId": "update-webhook",
            "id": "61f7736e-d22c-4788-9996-4ef31b003736"
        },
        {
            "parameters": {
                "functionCode": "const body = items[0].json.body || {};\nconst idToUpdate = body.id;\nconst SUPABASE_URL = 'https://vfbujngupbnvmlomzfgg.supabase.co';\nconst SUPABASE_KEY = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZmYnVqbmd1cGJudm1sb216ZmdnIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDYwMzU3MCwiZXhwIjoyMDg2MTc5NTcwfQ.jNHJ-2N3STg9vlKXW8sV3knsfjwe4XQfhfaT-Mwob4M';\n\ntry {\n  const updateData = {};\n  if (body.status) updateData.status = body.status;\n  if (body.color) updateData.color = body.color;\n\n  const res = await fetch(\n    `${SUPABASE_URL}/rest/v1/appointments?id=eq.${idToUpdate}`,\n    {\n      method: 'PATCH',\n      headers: {\n        'apikey': SUPABASE_KEY,\n        'Authorization': `Bearer ${SUPABASE_KEY}`,\n        'Content-Type': 'application/json',\n        'Prefer': 'return=representation'\n      },\n      body: JSON.stringify(updateData)\n    }\n  );\n  const updated = await res.json();\n\n  if (updated.length > 0) {\n    const a = updated[0];\n    const result = {\n      id: a.id,\n      patientName: a.patient_name,\n      patientCedula: a.patient_cedula,\n      dateStr: a.date_str,\n      time: a.time,\n      type: a.type,\n      status: a.status,\n      color: a.color\n    };\n    return [{ json: { success: true, appointment: result } }];\n  }\n  return [{ json: { success: false, message: 'Cita no encontrada' } }];\n} catch (e) {\n  return [{ json: { success: false, message: e.message } }];\n}"
            },
            "name": "Update Logic",
            "type": "n8n-nodes-base.function",
            "typeVersion": 1,
            "position": [
                1120,
                2000
            ],
            "id": "803a2734-e9b6-45a3-bd1a-269f74a6a108"
        },
        {
            "parameters": {
                "options": {}
            },
            "name": "Respond Update",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                1380,
                2000
            ],
            "id": "c034b96f-97bb-4c0a-9427-c13baea8cfcb"
        },
        {
            "parameters": {
                "httpMethod": "DELETE",
                "path": "appointments",
                "responseMode": "responseNode",
                "options": {}
            },
            "name": "Webhook Delete",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                860,
                2200
            ],
            "webhookId": "delete-webhook",
            "id": "8b721de0-6917-4e3c-a5f2-18c0c98d4ce0"
        },
        {
            "parameters": {
                "functionCode": "const body = items[0].json.body || items[0].json.query || {};\nconst idToDelete = body.id;\nconst SUPABASE_URL = 'https://vfbujngupbnvmlomzfgg.supabase.co';\nconst SUPABASE_KEY = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZmYnVqbmd1cGJudm1sb216ZmdnIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDYwMzU3MCwiZXhwIjoyMDg2MTc5NTcwfQ.jNHJ-2N3STg9vlKXW8sV3knsfjwe4XQfhfaT-Mwob4M';\n\ntry {\n  const res = await fetch(\n    `${SUPABASE_URL}/rest/v1/appointments?id=eq.${idToDelete}`,\n    {\n      method: 'DELETE',\n      headers: {\n        'apikey': SUPABASE_KEY,\n        'Authorization': `Bearer ${SUPABASE_KEY}`,\n        'Prefer': 'return=representation'\n      }\n    }\n  );\n  const deleted = await res.json();\n  return [{ json: { success: true, deleted: deleted.length > 0 } }];\n} catch (e) {\n  return [{ json: { success: false, message: e.message } }];\n}"
            },
            "name": "Delete Logic",
            "type": "n8n-nodes-base.function",
            "typeVersion": 1,
            "position": [
                1120,
                2200
            ],
            "id": "57ebb359-924d-4cbb-8625-342f6ae15986"
        },
        {
            "parameters": {
                "options": {}
            },
            "name": "Respond Delete",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                1380,
                2200
            ],
            "id": "29c48352-6b35-435f-9cb0-2e832dadd193"
        },
        {
            "parameters": {
                "path": "appointments/available-hours",
                "responseMode": "responseNode",
                "options": {}
            },
            "name": "Webhook Available Hours",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                860,
                2400
            ],
            "webhookId": "available-hours-webhook",
            "id": "5eaf5bb0-6049-4b7c-ba6f-83b1fcc7ec8b"
        },
        {
            "parameters": {
                "functionCode": "const date = items[0].json.query.date;\nconst SUPABASE_URL = 'https://vfbujngupbnvmlomzfgg.supabase.co';\nconst SUPABASE_KEY = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZmYnVqbmd1cGJudm1sb216ZmdnIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDYwMzU3MCwiZXhwIjoyMDg2MTc5NTcwfQ.jNHJ-2N3STg9vlKXW8sV3knsfjwe4XQfhfaT-Mwob4M';\n\ntry {\n  if (!date) {\n    return [{ json: { success: false, message: 'Falta fecha' } }];\n  }\n\n  const res = await fetch(\n    `${SUPABASE_URL}/rest/v1/appointments?date_str=eq.${date}&status=neq.CANCELADA&select=time`,\n    { headers: { 'apikey': SUPABASE_KEY, 'Authorization': `Bearer ${SUPABASE_KEY}` } }\n  );\n  const occupiedAppts = await res.json();\n  const occupied = occupiedAppts.map(a => a.time);\n\n  const allHours = [];\n  for (let h = 9; h <= 17; h++) {\n    allHours.push(h.toString().padStart(2, '0') + ':00');\n  }\n\n  const available = allHours.filter(h => occupied.indexOf(h) === -1);\n\n  return [{\n    json: {\n      success: true,\n      date: date,\n      availableHours: available,\n      occupiedHours: occupied,\n      totalSlots: allHours.length,\n      availableSlots: available.length\n    }\n  }];\n} catch (e) {\n  return [{ json: { success: false, message: e.message } }];\n}"
            },
            "name": "Available Hours Logic",
            "type": "n8n-nodes-base.function",
            "typeVersion": 1,
            "position": [
                1120,
                2400
            ],
            "id": "2c0ef080-62c0-4908-972d-a8a48cc512de"
        },
        {
            "parameters": {
                "options": {}
            },
            "name": "Respond Available Hours",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                1380,
                2400
            ],
            "id": "ad954a1c-c1cc-45c7-b571-7cf7309109e8"
        },
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "ai-insights",
                "responseMode": "responseNode",
                "options": {}
            },
            "name": "Webhook AI",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                860,
                2700
            ],
            "webhookId": "ai-insights-webhook",
            "id": "5babf972-65e2-4797-b214-473fecbef128"
        },
        {
            "parameters": {
                "functionCode": "const appts = items[0].json.appointments || [];\nconst now = new Date().toLocaleString();\nconst prompt = `Act as an expert scheduling assistant. Current time: ${now}. Analyze these appointments: ${JSON.stringify(appts)}. Tasks: 1. Summarize schedule status. 2. Identify conflicts/gaps. 3. Suggest improvements. 4. Speak in Spanish. 5. Keep it concise.`;\nreturn [{ json: { prompt } }];"
            },
            "name": "Prepare Prompts",
            "type": "n8n-nodes-base.function",
            "typeVersion": 1,
            "position": [
                1080,
                2700
            ],
            "id": "67f1f618-d69e-4019-b2cf-fdd1238da020"
        },
        {
            "parameters": {
                "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent?key=AIzaSyCsJQJuug8ugm7vEmoiOb8_tG1o9B_QEjw",
                "jsonParameters": true,
                "options": {}
            },
            "name": "Gemini API",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 1,
            "position": [
                1300,
                2700
            ],
            "id": "d5590ec1-1fe0-4aa8-999b-c6a08eabec3a"
        },
        {
            "parameters": {
                "functionCode": "const text = items[0].json.candidates?.[0]?.content?.parts?.[0]?.text || 'No suggestion.';\nreturn [{ json: { suggestion: text } }];"
            },
            "name": "Format Response",
            "type": "n8n-nodes-base.function",
            "typeVersion": 1,
            "position": [
                1520,
                2700
            ],
            "id": "561501d6-25a4-464c-a8a1-59d0e2eeb316"
        },
        {
            "parameters": {
                "options": {}
            },
            "name": "Respond AI",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                1740,
                2700
            ],
            "id": "a05ccf18-6d12-4961-a717-2a7decff17ab"
        }
    ],
    "pinData": {},
    "connections": {
        "Webhook Register": {
            "main": [
                [
                    {
                        "node": "Register Logic",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Register Logic": {
            "main": [
                [
                    {
                        "node": "Respond Register",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Webhook Login": {
            "main": [
                [
                    {
                        "node": "Login Logic",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Login Logic": {
            "main": [
                [
                    {
                        "node": "Respond Login",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Webhook Get User": {
            "main": [
                [
                    {
                        "node": "Get User Logic",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get User Logic": {
            "main": [
                [
                    {
                        "node": "Respond Get User",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Webhook Update User": {
            "main": [
                [
                    {
                        "node": "Update User Logic",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Update User Logic": {
            "main": [
                [
                    {
                        "node": "Respond Update User",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Webhook Delete Users": {
            "main": [
                [
                    {
                        "node": "Delete Users Logic",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Delete Users Logic": {
            "main": [
                [
                    {
                        "node": "Respond Delete Users",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Webhook View DB": {
            "main": [
                [
                    {
                        "node": "Generate User Table HTML",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Generate User Table HTML": {
            "main": [
                [
                    {
                        "node": "Respond HTML",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Webhook Create": {
            "main": [
                [
                    {
                        "node": "Create Logic",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Create Logic": {
            "main": [
                [
                    {
                        "node": "Respond Create",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Webhook Get": {
            "main": [
                [
                    {
                        "node": "Get Logic (Filtered)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Logic (Filtered)": {
            "main": [
                [
                    {
                        "node": "Respond Get",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Webhook Update": {
            "main": [
                [
                    {
                        "node": "Update Logic",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Update Logic": {
            "main": [
                [
                    {
                        "node": "Respond Update",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Webhook Delete": {
            "main": [
                [
                    {
                        "node": "Delete Logic",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Delete Logic": {
            "main": [
                [
                    {
                        "node": "Respond Delete",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Webhook Available Hours": {
            "main": [
                [
                    {
                        "node": "Available Hours Logic",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Available Hours Logic": {
            "main": [
                [
                    {
                        "node": "Respond Available Hours",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Webhook AI": {
            "main": [
                [
                    {
                        "node": "Prepare Prompts",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Prepare Prompts": {
            "main": [
                [
                    {
                        "node": "Gemini API",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Gemini API": {
            "main": [
                [
                    {
                        "node": "Format Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Format Response": {
            "main": [
                [
                    {
                        "node": "Respond AI",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": true,
    "settings": {
        "executionOrder": "v1",
        "binaryMode": "separate",
        "availableInMCP": false
    },
    "versionId": "supabase-v2-migrated",
    "meta": {
        "templateCredsSetupCompleted": true,
        "instanceId": "ff6bd174b0f020425d7923013f8f27387bf39ef33c016982d67575517e700bd2"
    },
    "id": "ZxCzbBuO4Mr3wwhx",
    "tags": []
}