backend/Solar_Rosette_Backend_V7.5_PRO_SYNC.json
{
    "name": "Solar Rosette Backend V7.5 PRO (SYNC & STABLE)",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "register",
                "responseMode": "lastNode",
                "options": {
                    "noResponseCustomHeaders": {
                        "entries": [
                            {
                                "name": "Access-Control-Allow-Origin",
                                "value": "*"
                            },
                            {
                                "name": "Access-Control-Allow-Methods",
                                "value": "GET,POST,PUT,DELETE,OPTIONS"
                            },
                            {
                                "name": "Access-Control-Allow-Headers",
                                "value": "Content-Type, Authorization"
                            }
                        ]
                    }
                }
            },
            "name": "Webhook Register",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                0,
                0
            ],
            "webhookId": "register-webhook"
        },
        {
            "parameters": {
                "jsCode": "try {\n  const body = items[0].json.body || {};\n  return [{\n    json: {\n      id: Date.now(),\n      name: body.name,\n      email: body.email,\n      cedula: String(body.cedula || '').trim(),\n      role: body.role || 'patient',\n      type: body.type || 'patient',\n      phone: body.phone || '',\n      notes: [],\n      registered_at: new Date().toISOString()\n    }\n  }];\n} catch (e) {\n  return [{ json: { error: true, message: e.message } }];\n}"
            },
            "name": "Prepare Register Data",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                200,
                0
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://xcvtrgaasfqocjkeulfq.supabase.co/rest/v1/users",
                "authentication": "none",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhjdnRyZ2Fhc2Zxb2Nqa2V1bGZxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDU2ODUxMywiZXhwIjoyMDg2MTQ0NTEzfQ.0L7OllT7IYkrY_eI1UNFfmX0UIekr_PBCqsuaWuo0yo"
                        },
                        {
                            "name": "Authorization",
                            "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhjdnRyZ2Fhc2Zxb2Nqa2V1bGZxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDU2ODUxMywiZXhwIjoyMDg2MTQ0NTEzfQ.0L7OllT7IYkrY_eI1UNFfmX0UIekr_PBCqsuaWuo0yo"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        },
                        {
                            "name": "Prefer",
                            "value": "return=representation"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify($json) }}",
                "options": {}
            },
            "name": "Supabase Insert User",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                400,
                0
            ]
        },
        {
            "parameters": {
                "jsCode": "const res = items[0].json;\nif (res.error) return [{ json: { success: false, message: res.message } }];\nif ((Array.isArray(res) && res.length > 0) || (res && res.id)) {\n  return [{ json: { success: true, user: Array.isArray(res) ? res[0] : res } }];\n}\nif (res.code === '23505') return [{ json: { success: false, message: 'La cédula o el correo ya están registrados.' } }];\nreturn [{ json: { success: false, message: 'Error en el registro', detail: res } }];"
            },
            "name": "Respond Register",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                600,
                0
            ]
        },
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "login",
                "responseMode": "lastNode",
                "options": {
                    "noResponseCustomHeaders": {
                        "entries": [
                            {
                                "name": "Access-Control-Allow-Origin",
                                "value": "*"
                            },
                            {
                                "name": "Access-Control-Allow-Methods",
                                "value": "GET,POST,OPTIONS"
                            }
                        ]
                    }
                }
            },
            "name": "Webhook Login",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                0,
                200
            ],
            "webhookId": "login-webhook"
        },
        {
            "parameters": {
                "method": "GET",
                "url": "https://xcvtrgaasfqocjkeulfq.supabase.co/rest/v1/users",
                "authentication": "none",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhjdnRyZ2Fhc2Zxb2Nqa2V1bGZxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDU2ODUxMywiZXhwIjoyMDg2MTQ0NTEzfQ.0L7OllT7IYkrY_eI1UNFfmX0UIekr_PBCqsuaWuo0yo"
                        },
                        {
                            "name": "Authorization",
                            "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhjdnRyZ2Fhc2Zxb2Nqa2V1bGZxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDU2ODUxMywiZXhwIjoyMDg2MTQ0NTEzfQ.0L7OllT7IYkrY_eI1UNFfmX0UIekr_PBCqsuaWuo0yo"
                        }
                    ]
                },
                "sendQueryParameters": true,
                "queryParameters": {
                    "parameters": [
                        {
                            "name": "cedula",
                            "value": "=eq.{{ String($json.body.cedula).trim() }}"
                        },
                        {
                            "name": "role",
                            "value": "=eq.{{ $json.body.role }}"
                        }
                    ]
                },
                "options": {
                    "alwaysOutputData": true
                }
            },
            "name": "Supabase Query User",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                300,
                200
            ]
        },
        {
            "parameters": {
                "jsCode": "try {\n  const res = items[0].json;\n  let user = Array.isArray(res) ? res[0] : (res && res.id ? res : null);\n  if (user) return [{ json: { success: true, user: user } }];\n  return [{ json: { success: false, message: 'Usuario no encontrado.' } }];\n} catch (e) {\n  return [{ json: { success: false, message: e.message } }];\n}"
            },
            "name": "Respond Login",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                550,
                200
            ]
        },
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "appointments",
                "responseMode": "lastNode",
                "options": {
                    "noResponseCustomHeaders": {
                        "entries": [
                            {
                                "name": "Access-Control-Allow-Origin",
                                "value": "*"
                            },
                            {
                                "name": "Access-Control-Allow-Methods",
                                "value": "GET,POST,OPTIONS"
                            }
                        ]
                    }
                }
            },
            "name": "Webhook Create Appt",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                0,
                400
            ],
            "webhookId": "create-appt-webhook"
        },
        {
            "parameters": {
                "method": "GET",
                "url": "https://xcvtrgaasfqocjkeulfq.supabase.co/rest/v1/appointments",
                "authentication": "none",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhjdnRyZ2Fhc2Zxb2Nqa2V1bGZxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDU2ODUxMywiZXhwIjoyMDg2MTQ0NTEzfQ.0L7OllT7IYkrY_eI1UNFfmX0UIekr_PBCqsuaWuo0yo"
                        },
                        {
                            "name": "Authorization",
                            "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhjdnRyZ2Fhc2Zxb2Nqa2V1bGZxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDU2ODUxMywiZXhwIjoyMDg2MTQ0NTEzfQ.0L7OllT7IYkrY_eI1UNFfmX0UIekr_PBCqsuaWuo0yo"
                        }
                    ]
                },
                "sendQueryParameters": true,
                "queryParameters": {
                    "parameters": [
                        {
                            "name": "date_str",
                            "value": "=eq.{{ $node[\"Webhook Create Appt\"].json.body.dateStr }}"
                        },
                        {
                            "name": "time",
                            "value": "=eq.{{ $node[\"Webhook Create Appt\"].json.body.time }}"
                        },
                        {
                            "name": "status",
                            "value": "neq.CANCELADA"
                        }
                    ]
                },
                "options": {
                    "alwaysOutputData": true
                }
            },
            "name": "Check Conflict Supabase",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                200,
                400
            ]
        },
        {
            "parameters": {
                "jsCode": "try {\n  const conflicts = items[0].json;\n  const body = $node[\"Webhook Create Appt\"].json.body;\n  const isOccupied = Array.isArray(conflicts) ? conflicts.length > 0 : (conflicts && conflicts.id);\n\n  if (isOccupied) return [{ json: { success: false, conflict: true, message: 'Lo sentimos, esta hora ya está ocupada.' } }];\n\n  return [{\n    json: {\n      id: Date.now(),\n      patient_name: body.patientName,\n      patient_cedula: String(body.patientCedula).trim(),\n      date_str: body.dateStr,\n      time: body.time,\n      type: body.type || 'Cita',\n      status: 'PENDIENTE',\n      color: 'bg-orange'\n    }\n  }];\n} catch (e) {\n  return [{ json: { success: false, error: true, message: e.message } }];\n}"
            },
            "name": "Process Create Appt",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                400,
                400
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "boolean": [
                        {
                            "value1": "={{ $json.conflict || $json.error }}",
                            "value2": true
                        }
                    ]
                }
            },
            "name": "Has Conflict or Error?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                600,
                400
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://xcvtrgaasfqocjkeulfq.supabase.co/rest/v1/appointments",
                "authentication": "none",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhjdnRyZ2Fhc2Zxb2Nqa2V1bGZxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDU2ODUxMywiZXhwIjoyMDg2MTQ0NTEzfQ.0L7OllT7IYkrY_eI1UNFfmX0UIekr_PBCqsuaWuo0yo"
                        },
                        {
                            "name": "Authorization",
                            "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhjdnRyZ2Fhc2Zxb2Nqa2V1bGZxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDU2ODUxMywiZXhwIjoyMDg2MTQ0NTEzfQ.0L7OllT7IYkrY_eI1UNFfmX0UIekr_PBCqsuaWuo0yo"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        },
                        {
                            "name": "Prefer",
                            "value": "return=representation"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify($json) }}",
                "options": {}
            },
            "name": "Supabase Insert Appt",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                800,
                350
            ]
        },
        {
            "parameters": {
                "jsCode": "const res = items[0].json;\nif (res.conflict || res.error) return [{ json: res }];\nreturn [{ json: { success: true, appointment: Array.isArray(res) ? res[0] : res } }];"
            },
            "name": "Respond Create Appt",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1050,
                400
            ]
        },
        {
            "parameters": {
                "path": "appointments/available-hours",
                "responseMode": "lastNode",
                "options": {
                    "noResponseCustomHeaders": {
                        "entries": [
                            {
                                "name": "Access-Control-Allow-Origin",
                                "value": "*"
                            },
                            {
                                "name": "Access-Control-Allow-Methods",
                                "value": "GET,OPTIONS"
                            }
                        ]
                    }
                }
            },
            "name": "Webhook Availability",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                0,
                600
            ],
            "webhookId": "availability-webhook"
        },
        {
            "parameters": {
                "method": "GET",
                "url": "=https://xcvtrgaasfqocjkeulfq.supabase.co/rest/v1/appointments?date_str=eq.{{ $json.query.date }}&status=neq.CANCELADA",
                "authentication": "none",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhjdnRyZ2Fhc2Zxb2Nqa2V1bGZxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDU2ODUxMywiZXhwIjoyMDg2MTQ0NTEzfQ.0L7OllT7IYkrY_eI1UNFfmX0UIekr_PBCqsuaWuo0yo"
                        },
                        {
                            "name": "Authorization",
                            "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhjdnRyZ2Fhc2Zxb2Nqa2V1bGZxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDU2ODUxMywiZXhwIjoyMDg2MTQ0NTEzfQ.0L7OllT7IYkrY_eI1UNFfmX0UIekr_PBCqsuaWuo0yo"
                        }
                    ]
                },
                "options": {
                    "alwaysOutputData": true
                }
            },
            "name": "Supabase Get Occupied",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                300,
                600
            ]
        },
        {
            "parameters": {
                "jsCode": "try {\n  const appts = items[0].json;\n  const date = $node[\"Webhook Availability\"].json.query.date;\n  if (!date) throw new Error('Falta la fecha');\n\n  const allHours = [];\n  // SYNC WITH FRONTEND: 9 AM to 6 PM every 20 mins\n  for (let hour = 9; hour < 18; hour++) {\n    for (let minute = 0; minute < 60; minute += 20) {\n      allHours.push(\n        hour.toString().padStart(2, '0') + ':' + minute.toString().padStart(2, '0')\n      );\n    }\n  }\n  allHours.push('18:00');\n\n  let occupied = [];\n  if (Array.isArray(appts)) {\n    occupied = appts.map(a => a.time).filter(t => t);\n  } else if (appts && appts.time) {\n    occupied = [appts.time];\n  }\n\n  const available = allHours.filter(h => !occupied.includes(h));\n\n  return [{\n    json: {\n      success: true,\n      date,\n      availableHours: available,\n      occupiedHours: occupied,\n      availableSlots: available.length\n    }\n  }];\n} catch (e) {\n  return [{\n    json: {\n      success: false,\n      message: e.message,\n      availableHours: [],\n      occupiedHours: []\n    }\n  }];\n}"
            },
            "name": "Respond Availability",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                550,
                600
            ]
        },
        {
            "parameters": {
                "path": "ping",
                "responseMode": "lastNode",
                "options": {
                    "noResponseCustomHeaders": {
                        "entries": [
                            {
                                "name": "Access-Control-Allow-Origin",
                                "value": "*"
                            }
                        ]
                    }
                }
            },
            "name": "Webhook Ping",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                0,
                800
            ],
            "webhookId": "ping-webhook"
        },
        {
            "parameters": {
                "jsCode": "return [{ json: { success: true, message: \"PONG - Backend V7.5 PRO READY (20min Slots)\", timestamp: new Date().toISOString() } }];"
            },
            "name": "Respond Ping",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                250,
                800
            ]
        }
    ],
    "connections": {
        "Webhook Register": {
            "main": [
                [
                    {
                        "node": "Prepare Register Data",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Prepare Register Data": {
            "main": [
                [
                    {
                        "node": "Supabase Insert User",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Supabase Insert User": {
            "main": [
                [
                    {
                        "node": "Respond Register",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Webhook Login": {
            "main": [
                [
                    {
                        "node": "Supabase Query User",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Supabase Query User": {
            "main": [
                [
                    {
                        "node": "Respond Login",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Webhook Create Appt": {
            "main": [
                [
                    {
                        "node": "Check Conflict Supabase",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Check Conflict Supabase": {
            "main": [
                [
                    {
                        "node": "Process Create Appt",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Process Create Appt": {
            "main": [
                [
                    {
                        "node": "Has Conflict or Error?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Has Conflict or Error?": {
            "main": [
                [
                    {
                        "node": "Respond Create Appt",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Supabase Insert Appt",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Supabase Insert Appt": {
            "main": [
                [
                    {
                        "node": "Respond Create Appt",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Webhook Availability": {
            "main": [
                [
                    {
                        "node": "Supabase Get Occupied",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Supabase Get Occupied": {
            "main": [
                [
                    {
                        "node": "Respond Availability",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Webhook Ping": {
            "main": [
                [
                    {
                        "node": "Respond Ping",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}