backend/Solar_Rosette_Backend_V9.0_ULTIMATE.json
{
    "name": "Solar Rosette Backend V9.0 ULTIMATE",
    "nodes": [
        {
            "parameters": {
                "path": "ping",
                "responseMode": "responseNode",
                "options": {
                    "noResponseCustomHeaders": {
                        "entries": [
                            {
                                "name": "Access-Control-Allow-Origin",
                                "value": "*"
                            },
                            {
                                "name": "Access-Control-Allow-Headers",
                                "value": "Content-Type,Authorization,apikey"
                            }
                        ]
                    }
                }
            },
            "name": "Webhook Ping",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                0,
                0
            ],
            "webhookId": "ping-v9"
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "{\"success\":true,\"message\":\"V9.0 ULTIMATE HUB READY\"}",
                "options": {}
            },
            "name": "Respond Ping",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                250,
                0
            ]
        },
        {
            "parameters": {
                "path": "appointments/available-hours-v7",
                "responseMode": "responseNode",
                "options": {
                    "noResponseCustomHeaders": {
                        "entries": [
                            {
                                "name": "Access-Control-Allow-Origin",
                                "value": "*"
                            },
                            {
                                "name": "Access-Control-Allow-Headers",
                                "value": "Content-Type,Authorization,apikey"
                            }
                        ]
                    }
                }
            },
            "name": "Webhook Availability",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                0,
                250
            ],
            "webhookId": "avail-v9"
        },
        {
            "parameters": {
                "jsCode": "const q = items[0].json.query || {}; const d = q.date || new Date().toISOString().split('T')[0]; return [{ json: { date: d, url: `https://xcvtrgaasfqocjkeulfq.supabase.co/rest/v1/appointments?date_str=eq.${d}&status=neq.CANCELADA` } }];"
            },
            "name": "Prep Avail",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                250,
                250
            ]
        },
        {
            "parameters": {
                "url": "={{$json.url}}",
                "authentication": "none",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhjdnRyZ2Fhc2Zxb2Nqa2V1bGZxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDU2ODUxMywiZXhwIjoyMDg2MTQ0NTEzfQ.0L7OllT7IYkrY_eI1UNFfmX0UIekr_PBCqsuaWuo0yo"
                        },
                        {
                            "name": "Authorization",
                            "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhjdnRyZ2Fhc2Zxb2Nqa2V1bGZxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDU2ODUxMywiZXhwIjoyMDg2MTQ0NTEzfQ.0L7OllT7IYkrY_eI1UNFfmX0UIekr_PBCqsuaWuo0yo"
                        }
                    ]
                }
            },
            "name": "Supabase Avail",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                500,
                250
            ]
        },
        {
            "parameters": {
                "jsCode": "try { const appts = items[0].json; const target = $node[\"Prep Avail\"].json.date; const slots = []; for (let h = 9; h < 18; h++) { for (let m = 0; m < 60; m += 20) { slots.push(h.toString().padStart(2, '0') + ':' + m.toString().padStart(2, '0')); } } slots.push('18:00'); let occ = []; if (Array.isArray(appts)) occ = appts.map(a => a.time); const available = slots.filter(s => !occ.includes(s)); return [{ json: { success: true, date: target, availableHours: available } }]; } catch (e) { return [{ json: { success: false, message: e.message } }]; }"
            },
            "name": "Format Avail",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                750,
                250
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ JSON.stringify($json) }}",
                "options": {}
            },
            "name": "Respond Avail",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                1000,
                250
            ]
        },
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "login",
                "responseMode": "responseNode",
                "options": {
                    "noResponseCustomHeaders": {
                        "entries": [
                            {
                                "name": "Access-Control-Allow-Origin",
                                "value": "*"
                            },
                            {
                                "name": "Access-Control-Allow-Headers",
                                "value": "Content-Type,Authorization,apikey"
                            }
                        ]
                    }
                }
            },
            "name": "Webhook Login",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                0,
                -250
            ],
            "webhookId": "login-v9"
        },
        {
            "parameters": {
                "url": "https://xcvtrgaasfqocjkeulfq.supabase.co/rest/v1/users",
                "authentication": "none",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhjdnRyZ2Fhc2Zxb2Nqa2V1bGZxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDU2ODUxMywiZXhwIjoyMDg2MTQ0NTEzfQ.0L7OllT7IYkrY_eI1UNFfmX0UIekr_PBCqsuaWuo0yo"
                        },
                        {
                            "name": "Authorization",
                            "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhjdnRyZ2Fhc2Zxb2Nqa2V1bGZxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDU2ODUxMywiZXhwIjoyMDg2MTQ0NTEzfQ.0L7OllT7IYkrY_eI1UNFfmX0UIekr_PBCqsuaWuo0yo"
                        }
                    ]
                },
                "queryParameters": {
                    "parameters": [
                        {
                            "name": "cedula",
                            "value": "=eq.{{ String($json.body.cedula).trim() }}"
                        },
                        {
                            "name": "role",
                            "value": "=eq.{{ String($json.body.role) }}"
                        }
                    ]
                },
                "options": {
                    "alwaysOutputData": true
                }
            },
            "name": "Supabase Login",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                250,
                -250
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ JSON.stringify({ success: items[0].json.length > 0, user: items[0].json[0] || null }) }}",
                "options": {}
            },
            "name": "Respond Login",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                500,
                -250
            ]
        },
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "register",
                "responseMode": "responseNode",
                "options": {
                    "noResponseCustomHeaders": {
                        "entries": [
                            {
                                "name": "Access-Control-Allow-Origin",
                                "value": "*"
                            },
                            {
                                "name": "Access-Control-Allow-Headers",
                                "value": "Content-Type,Authorization,apikey"
                            }
                        ]
                    }
                }
            },
            "name": "Webhook Register",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                0,
                -500
            ],
            "webhookId": "register-v9"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://xcvtrgaasfqocjkeulfq.supabase.co/rest/v1/users",
                "authentication": "none",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhjdnRyZ2Fhc2Zxb2Nqa2V1bGZxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDU2ODUxMywiZXhwIjoyMDg2MTQ0NTEzfQ.0L7OllT7IYkrY_eI1UNFfmX0UIekr_PBCqsuaWuo0yo"
                        },
                        {
                            "name": "Authorization",
                            "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhjdnRyZ2Fhc2Zxb2Nqa2V1bGZxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDU2ODUxMywiZXhwIjoyMDg2MTQ0NTEzfQ.0L7OllT7IYkrY_eI1UNFfmX0UIekr_PBCqsuaWuo0yo"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify({ name: $json.body.name, email: $json.body.email, cedula: String($json.body.cedula).trim(), role: $json.body.role || 'patient' }) }}",
                "options": {}
            },
            "name": "Supabase Register",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                250,
                -500
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "{\"success\":true}",
                "options": {}
            },
            "name": "Respond Register",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                500,
                -500
            ]
        },
        {
            "parameters": {
                "httpMethod": "ANY",
                "path": "appointments",
                "responseMode": "responseNode",
                "options": {
                    "noResponseCustomHeaders": {
                        "entries": [
                            {
                                "name": "Access-Control-Allow-Origin",
                                "value": "*"
                            },
                            {
                                "name": "Access-Control-Allow-Headers",
                                "value": "Content-Type,Authorization,apikey"
                            },
                            {
                                "name": "Access-Control-Allow-Methods",
                                "value": "GET,POST,PUT,DELETE,OPTIONS"
                            }
                        ]
                    }
                }
            },
            "name": "Webhook Appointments Hub",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                0,
                500
            ],
            "webhookId": "appt-v9"
        },
        {
            "parameters": {
                "jsCode": "const m = items[0].json.method; return [{ json: { method: m, body: items[0].json.body || {}, query: items[0].json.query || {} } }];"
            },
            "name": "Route Appt",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                250,
                500
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "string": [
                        {
                            "value1": "={{$json.method}}",
                            "value2": "GET"
                        }
                    ]
                }
            },
            "name": "Is GET?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                450,
                500
            ]
        },
        {
            "parameters": {
                "url": "https://xcvtrgaasfqocjkeulfq.supabase.co/rest/v1/appointments",
                "authentication": "none",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhjdnRyZ2Fhc2Zxb2Nqa2V1bGZxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDU2ODUxMywiZXhwIjoyMDg2MTQ0NTEzfQ.0L7OllT7IYkrY_eI1UNFfmX0UIekr_PBCqsuaWuo0yo"
                        },
                        {
                            "name": "Authorization",
                            "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhjdnRyZ2Fhc2Zxb2Nqa2V1bGZxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDU2ODUxMywiZXhwIjoyMDg2MTQ0NTEzfQ.0L7OllT7IYkrY_eI1UNFfmX0UIekr_PBCqsuaWuo0yo"
                        }
                    ]
                },
                "queryParameters": {
                    "parameters": [
                        {
                            "name": "order",
                            "value": "date_str.asc,time.asc"
                        }
                    ]
                },
                "options": {
                    "alwaysOutputData": true
                }
            },
            "name": "Supabase GET All",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                700,
                400
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "string": [
                        {
                            "value1": "={{$node[\"Route Appt\"].json.method}}",
                            "value2": "POST"
                        }
                    ]
                }
            },
            "name": "Is POST?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                450,
                700
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://xcvtrgaasfqocjkeulfq.supabase.co/rest/v1/appointments",
                "authentication": "none",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhjdnRyZ2Fhc2Zxb2Nqa2V1bGZxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDU2ODUxMywiZXhwIjoyMDg2MTQ0NTEzfQ.0L7OllT7IYkrY_eI1UNFfmX0UIekr_PBCqsuaWuo0yo"
                        },
                        {
                            "name": "Authorization",
                            "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhjdnRyZ2Fhc2Zxb2Nqa2V1bGZxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDU2ODUxMywiZXhwIjoyMDg2MTQ0NTEzfQ.0L7OllT7IYkrY_eI1UNFfmX0UIekr_PBCqsuaWuo0yo"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify({\n  id: Date.now(),\n  patient_name: $node[\"Route Appt\"].json.body.patientName,\n  patient_cedula: String($node[\"Route Appt\"].json.body.patientCedula).trim(),\n  date_str: $node[\"Route Appt\"].json.body.dateStr,\n  time: $node[\"Route Appt\"].json.body.time,\n  type: $node[\"Route Appt\"].json.body.type || 'Fisioterapia',\n  status: 'PENDIENTE',\n  color: 'bg-orange'\n}) }}",
                "options": {}
            },
            "name": "Supabase CREATE",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                700,
                600
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "string": [
                        {
                            "value1": "={{$node[\"Route Appt\"].json.method}}",
                            "value2": "PUT"
                        }
                    ]
                }
            },
            "name": "Is PUT?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                450,
                900
            ]
        },
        {
            "parameters": {
                "method": "PATCH",
                "url": "https://xcvtrgaasfqocjkeulfq.supabase.co/rest/v1/appointments",
                "authentication": "none",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhjdnRyZ2Fhc2Zxb2Nqa2V1bGZxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDU2ODUxMywiZXhwIjoyMDg2MTQ0NTEzfQ.0L7OllT7IYkrY_eI1UNFfmX0UIekr_PBCqsuaWuo0yo"
                        },
                        {
                            "name": "Authorization",
                            "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhjdnRyZ2Fhc2Zxb2Nqa2V1bGZxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDU2ODUxMywiZXhwIjoyMDg2MTQ0NTEzfQ.0L7OllT7IYkrY_eI1UNFfmX0UIekr_PBCqsuaWuo0yo"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendQueryParameters": true,
                "queryParameters": {
                    "parameters": [
                        {
                            "name": "id",
                            "value": "={{ 'eq.' + $node[\"Route Appt\"].json.body.id }}"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify({\n  status: $node[\"Route Appt\"].json.body.status,\n  color: $node[\"Route Appt\"].json.body.color\n}) }}",
                "options": {}
            },
            "name": "Supabase UPDATE",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                700,
                800
            ]
        },
        {
            "parameters": {
                "method": "DELETE",
                "url": "https://xcvtrgaasfqocjkeulfq.supabase.co/rest/v1/appointments",
                "authentication": "none",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhjdnRyZ2Fhc2Zxb2Nqa2V1bGZxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDU2ODUxMywiZXhwIjoyMDg2MTQ0NTEzfQ.0L7OllT7IYkrY_eI1UNFfmX0UIekr_PBCqsuaWuo0yo"
                        },
                        {
                            "name": "Authorization",
                            "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhjdnRyZ2Fhc2Zxb2Nqa2V1bGZxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDU2ODUxMywiZXhwIjoyMDg2MTQ0NTEzfQ.0L7OllT7IYkrY_eI1UNFfmX0UIekr_PBCqsuaWuo0yo"
                        }
                    ]
                },
                "sendQueryParameters": true,
                "queryParameters": {
                    "parameters": [
                        {
                            "name": "id",
                            "value": "={{ 'eq.' + $node[\"Route Appt\"].json.body.id }}"
                        }
                    ]
                },
                "options": {}
            },
            "name": "Supabase DELETE",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                700,
                1000
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ JSON.stringify({ success: true, appointments: items[0].json }) }}",
                "options": {}
            },
            "name": "Respond Appt Hub",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                1000,
                700
            ]
        }
    ],
    "connections": {
        "Webhook Ping": {
            "main": [
                [
                    {
                        "node": "Respond Ping",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Webhook Availability": {
            "main": [
                [
                    {
                        "node": "Prep Avail",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Prep Avail": {
            "main": [
                [
                    {
                        "node": "Supabase Avail",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Supabase Avail": {
            "main": [
                [
                    {
                        "node": "Format Avail",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Format Avail": {
            "main": [
                [
                    {
                        "node": "Respond Avail",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Webhook Login": {
            "main": [
                [
                    {
                        "node": "Supabase Login",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Supabase Login": {
            "main": [
                [
                    {
                        "node": "Respond Login",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Webhook Register": {
            "main": [
                [
                    {
                        "node": "Supabase Register",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Supabase Register": {
            "main": [
                [
                    {
                        "node": "Respond Register",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Webhook Appointments Hub": {
            "main": [
                [
                    {
                        "node": "Route Appt",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Route Appt": {
            "main": [
                [
                    {
                        "node": "Is GET?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Is GET?": {
            "main": [
                [
                    {
                        "node": "Supabase GET All",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Is POST?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Supabase GET All": {
            "main": [
                [
                    {
                        "node": "Respond Appt Hub",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Is POST?": {
            "main": [
                [
                    {
                        "node": "Supabase CREATE",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Is PUT?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Supabase CREATE": {
            "main": [
                [
                    {
                        "node": "Respond Appt Hub",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Is PUT?": {
            "main": [
                [
                    {
                        "node": "Supabase UPDATE",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Supabase DELETE",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Supabase UPDATE": {
            "main": [
                [
                    {
                        "node": "Respond Appt Hub",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Supabase DELETE": {
            "main": [
                [
                    {
                        "node": "Respond Appt Hub",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}