backend/WORKFLOW_MULTI_CLIENTE_COMPLETO.json
{
  "name": "Solar Rosette Agenda (FINAL - Con Bloqueo)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "appointments",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook Create",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        200,
        300
      ],
      "webhookId": "create-appt-webhook",
      "id": "webhook-create"
    },
    {
      "parameters": {
        "functionCode": "const staticData = getWorkflowStaticData('global');\nif (!staticData.appointments) { staticData.appointments = []; }\nconst body = items[0].json.body;\n\n// CONFLICT DETECTION\nconst conflict = staticData.appointments.find(a => \n  a.dateStr == body.dateStr && \n  a.time == body.time &&\n  a.status != 'CANCELADA'\n);\nif (conflict) {\n  return [{ json: { success: false, message: 'Lo sentimos, esta hora ya está ocupada por otro paciente.' } }];\n}\n\nconst newAppt = {\n  id: Date.now(),\n  patientName: body.patientName,\n  patientCedula: body.patientCedula,\n  dateStr: body.dateStr,\n  time: body.time,\n  type: body.type || 'Cita',\n  status: 'PENDIENTE',\n  color: 'bg-orange'\n};\nstaticData.appointments.push(newAppt);\nreturn [{ json: { success: true, appointment: newAppt } }];"
      },
      "name": "Create Logic",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        450,
        300
      ],
      "id": "create-logic"
    },
    {
      "parameters": {
        "options": {}
      },
      "name": "Respond Create",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        700,
        300
      ],
      "id": "respond-create"
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "appointments",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook Get",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        200,
        500
      ],
      "webhookId": "get-appts-webhook",
      "id": "webhook-get"
    },
    {
      "id": "get-logic",
      "name": "Get Logic (Filtered)",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        450,
        500
      ],
      "parameters": {
        "functionCode": "const staticData = getWorkflowStaticData('global');\nconst appointments = staticData.appointments || [];\nconst { clientId, role, cedula } = items[0].json.query;\n\nlet filtered;\nif (role === 'admin' || role === 'professional') {\n    // El profesional VE TODAS las citas de SU clientId\n    filtered = appointments.filter(a => a.clientId === clientId);\n} else {\n    // El paciente VE SOLO sus citas agendadas CON ESTE profesional\n    filtered = appointments.filter(a => a.patientCedula === cedula && a.clientId === clientId);\n}\n\nreturn [{ json: { success: true, appointments: filtered } }];"
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "name": "Respond Get",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        700,
        500
      ],
      "id": "respond-get"
    },
    {
      "parameters": {
        "httpMethod": "DELETE",
        "path": "appointments",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook Delete",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        200,
        700
      ],
      "webhookId": "delete-webhook",
      "id": "webhook-delete"
    },
    {
      "parameters": {
        "functionCode": "const staticData = getWorkflowStaticData('global');\n\n// Ensure appointments array matches\nif (!staticData.appointments) { staticData.appointments = []; }\n\n// Handle Body or Query parsing\nconst body = items[0].json.body || items[0].json.query || {};\nconst idToDelete = body.id;\n\nconst initialLength = staticData.appointments.length;\n\n// Force String comparison to handle ID type mismatches\nstaticData.appointments = staticData.appointments.filter(a => String(a.id) !== String(idToDelete));\n\nconst wasDeleted = initialLength > staticData.appointments.length;\n\n// Return success:true regardless of deletion count to avoid UI errors, \n// but send 'deleted' status for debug.\nreturn [{ json: { success: true, deleted: wasDeleted } }];"
      },
      "name": "Delete Logic",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        450,
        700
      ],
      "id": "delete-logic"
    },
    {
      "parameters": {
        "options": {}
      },
      "name": "Respond Delete",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        700,
        700
      ],
      "id": "respond-delete"
    },
    {
      "parameters": {
        "httpMethod": "PUT",
        "path": "appointments",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook Update",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        200,
        900
      ],
      "webhookId": "update-webhook",
      "id": "webhook-update"
    },
    {
      "parameters": {
        "functionCode": "const staticData = getWorkflowStaticData('global');\n\nif (!staticData.appointments) { staticData.appointments = []; }\n\nconst body = items[0].json.body || {};\nconst idToUpdate = body.id;\nconst newStatus = body.status;\nconst newColor = body.color;\n\n// Find and Update\nconst matching = staticData.appointments.find(a => String(a.id) === String(idToUpdate));\n\nif (matching) {\n    if(newStatus) matching.status = newStatus;\n    if(newColor) matching.color = newColor;\n    return [{ json: { success: true, appointment: matching } }];\n}\n\nreturn [{ json: { success: false, message: 'Cita no encontrada' } }];"
      },
      "name": "Update Logic",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        450,
        900
      ],
      "id": "update-logic"
    },
    {
      "parameters": {
        "options": {}
      },
      "name": "Respond Update",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        700,
        900
      ],
      "id": "respond-update"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "register",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook Register",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        200,
        1300
      ],
      "webhookId": "register-webhook",
      "id": "webhook-register"
    },
    {
      "id": "register-logic",
      "name": "Register Logic",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        450,
        1300
      ],
      "parameters": {
        "functionCode": "const staticData = getWorkflowStaticData('global');\nconst users = staticData.users || [];\nconst newUser = items[0].json.body;\n\n// MULTI-TENANT LOGIC\n// If registering a PROFESSIONAL -> They BECOME the Client (Tenant)\nif (newUser.role === 'professional') {\n    newUser.clientId = newUser.cedula;\n    newUser.status = 'pending'; // Set status to PENDING for approval\n}\n\n// DUPLICATE CHECK\n// If Professional: Check if cedula exists globally (as they are unique tenants)\n// If Patient: Check if cedula exists WITHIN that clientId\nlet exists;\nif (newUser.role === 'professional') {\n    exists = users.find(u => u.cedula === newUser.cedula); \n} else {\n    exists = users.find(u => u.cedula === newUser.cedula && u.clientId === newUser.clientId);\n}\n\nif (exists) {\n    return [{ json: { success: false, message: 'Usuario/Profesional ya registrado.' } }];\n}\n\n// SAVE USER\nusers.push({\n    ...newUser,\n    id: Date.now()\n});\n\nstaticData.users = users;\nreturn [{ json: { success: true, user: newUser } }];"
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "name": "Respond Register",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        700,
        1300
      ],
      "id": "respond-register"
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "agenda-view",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook View DB",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        200,
        1100
      ],
      "webhookId": "view-db-webhook",
      "id": "webhook-view-db"
    },
    {
      "parameters": {
        "functionCode": "const staticData = getWorkflowStaticData('global');\nconst users = staticData.users || [];\n\nlet html = `<html><head><style>body{font-family:sans-serif;padding:20px}table{border-collapse:collapse;width:100%}th,td{border:1px solid #ccc;padding:8px}th{background:#eee}</style></head><body><h1>Usuarios Registrados</h1><table><tr><th>ID</th><th>Nombre</th><th>Email</th><th>Cedula</th><th>Rol (Tipo)</th></tr>`;\n\nusers.forEach(u => {\n  html += `<tr><td>${u.id}</td><td>${u.name}</td><td>${u.email}</td><td>${u.cedula}</td><td><b>${u.role}</b></td></tr>`;\n});\n\nhtml += `</table></body></html>`;\n\nreturn [{ json: { html } }];"
      },
      "name": "Generate User Table HTML",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        450,
        1100
      ],
      "id": "generate-html-users"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.html }}",
        "options": {
          "responseContentType": "text/html"
        }
      },
      "name": "Respond HTML",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        700,
        1100
      ],
      "id": "respond-html"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "login",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook Login",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        200,
        1500
      ],
      "webhookId": "login-webhook",
      "id": "webhook-login"
    },
    {
      "id": "login-logic",
      "name": "Login Logic",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        450,
        1500
      ],
      "parameters": {
        "functionCode": "const staticData = getWorkflowStaticData('global');\nconst users = staticData.users || [];\nconst { cedula, clientId } = items[0].json.query || items[0].json.body;\n\n// FIX LOGIN FOR PROFESSIONALS\nconst user = users.find(u => {\n    // Cedula must match\n    if (u.cedula !== cedula) return false;\n\n    // If user is Professional -> They ARE the tenant\n    // Ignore incoming clientId because login page sends the app's default ID\n    if (u.role === 'professional') return true;\n\n    // If user is Patient -> Must belong to the specific Professional (clientId)\n    // Or be a legacy user with no clientId\n    return u.clientId === clientId || !u.clientId;\n});\n\nif (!user) {\n    return [{ json: { success: false, message: 'Usuario no encontrado en la base de este profesional.' } }];\n}\n\n// CHECK APPROVAL STATUS\nif (user.role === 'professional' && user.status === 'pending') {\n    return [{ json: { success: false, message: 'Tu cuenta está pendiente de aprobación por el administrador.' } }];\n}\n\nreturn [{ json: { success: true, user } }];"
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "name": "Respond Login",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        700,
        1500
      ],
      "id": "respond-login"
    },
    {
      "parameters": {
        "httpMethod": "DELETE",
        "path": "users",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook Delete Users",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        200,
        1700
      ],
      "webhookId": "delete-users-webhook",
      "id": "webhook-delete-users"
    },
    {
      "parameters": {
        "functionCode": "const staticData = getWorkflowStaticData('global');\nif (!staticData.users) return [{ json: { success: true, deleted: 0 } }];\n\nconst body = items[0].json.body || items[0].json.query || {};\nconst cedulaToDelete = body.id || body.cedula;\n\nconst initialCount = staticData.users.length;\n\nif (cedulaToDelete) {\n    // DELETE INDIVIDUAL USER\n    staticData.users = staticData.users.filter(u => String(u.cedula) !== String(cedulaToDelete));\n    const deletedCount = initialCount - staticData.users.length;\n    return [{ json: { success: true, deleted: deletedCount, message: 'Usuario eliminado correctamente' } }];\n} else {\n    // PROTECT BRAYAN AND REMOVE OTHERS (Original logic)\n    const keepCedula = '1000595131';\n    staticData.users = staticData.users.filter(u => String(u.cedula) === keepCedula);\n    const deletedCount = initialCount - staticData.users.length;\n    return [{ json: { success: true, deleted: deletedCount, message: 'Limpieza masiva completada' } }];\n}"
      },
      "name": "Delete Users Logic",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        450,
        1700
      ],
      "id": "delete-users-logic"
    },
    {
      "parameters": {
        "options": {}
      },
      "name": "Respond Delete Users",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        700,
        1700
      ],
      "id": "respond-delete-users"
    },
    {
      "parameters": {
        "httpMethod": "PUT",
        "path": "users",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook Update User",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        200,
        1900
      ],
      "webhookId": "update-user-webhook",
      "id": "webhook-update-user"
    },
    {
      "parameters": {
        "functionCode": "const staticData = getWorkflowStaticData('global');\nconst users = staticData.users || [];\n\nconst body = items[0].json.body || {};\nconst cedula = body.cedula;\nconst notes = body.notes;\n\nif (!cedula) return [{ json: { success: false, message: 'Cedula requerida' } }];\n\nconst user = users.find(u => String(u.cedula) === String(cedula));\n\nif (user) {\n    if (notes !== undefined) user.notes = notes;\n    return [{ json: { success: true, user: user } }];\n}\n\nreturn [{ json: { success: false, message: 'Usuario no encontrado' } }];"
      },
      "name": "Update User Logic",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        450,
        1900
      ],
      "id": "update-user-logic"
    },
    {
      "parameters": {
        "options": {}
      },
      "name": "Respond Update User",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        700,
        1900
      ],
      "id": "respond-update-user"
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "users",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook Get User",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        200,
        2100
      ],
      "webhookId": "get-user-webhook",
      "id": "webhook-get-user"
    },
    {
      "parameters": {
        "functionCode": "const staticData = getWorkflowStaticData('global');\nconst users = staticData.users || [];\nconst cedula = items[0].json.query.cedula;\nconst role = items[0].json.query.role;\n\nif (!cedula) return [{ json: { success: false, message: 'No cedula provided' } }];\n\n// ADMIN LIST ALL\nif (cedula === 'ALL' && role === 'admin') {\n    return [{ json: { success: true, users: users } }];\n}\n\nconst user = users.find(u => String(u.cedula) === String(cedula));\n\nif (user) {\n    return [{ json: { success: true, user: user, users: [user] } }];\n} else {\n    return [{ json: { success: false, message: 'Usuario no encontrado', users: [] } }];\n}"
      },
      "name": "Get User Logic",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        450,
        2100
      ],
      "id": "get-user-logic"
    },
    {
      "parameters": {
        "options": {}
      },
      "name": "Respond Get User",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        700,
        2100
      ],
      "id": "respond-get-user"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ai-insights",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook AI",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        200,
        2300
      ],
      "webhookId": "ai-insights-webhook",
      "id": "webhook-ai"
    },
    {
      "parameters": {
        "functionCode": "const appts = items[0].json.appointments || [];\nconst now = new Date().toLocaleString();\nconst prompt = `Act as an expert scheduling assistant. Current time: ${now}. Analyze these appointments: ${JSON.stringify(appts)}. Tasks: 1. Summarize schedule status. 2. Identify conflicts/gaps. 3. Suggest improvements. 4. Speak in Spanish. 5. Keep it concise.`;\nreturn [{ json: { prompt } }];"
      },
      "name": "Prepare Prompts",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        400,
        2300
      ],
      "id": "prepare-prompts"
    },
    {
      "parameters": {
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent?key=AIzaSyCsJQJuug8ugm7vEmoiOb8_tG1o9B_QEjw",
        "method": "POST",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "{ \"contents\": [{ \"parts\": [{ \"text\": \"={{$json.prompt}}\" }] }] }"
      },
      "name": "Gemini API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        600,
        2300
      ],
      "id": "gemini-api"
    },
    {
      "parameters": {
        "functionCode": "const text = items[0].json.candidates?.[0]?.content?.parts?.[0]?.text || 'No suggestion.';\nreturn [{ json: { suggestion: text } }];"
      },
      "name": "Format Response",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        800,
        2300
      ],
      "id": "format-response"
    },
    {
      "parameters": {
        "options": {}
      },
      "name": "Respond AI",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1000,
        2300
      ],
      "id": "respond-ai"
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "appointments/available-hours",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook Available Hours",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        200,
        2500
      ],
      "webhookId": "available-hours-webhook",
      "id": "webhook-available-hours"
    },
    {
      "parameters": {
        "functionCode": "const date = $input.first().json.query.date;\nif (!date) {\n  return [{ json: { success: false, message: 'Falta fecha' } }];\n}\n\nconst staticData = getWorkflowStaticData('global');\nconst appointments = staticData.appointments || [];\n\nconst allHours = [];\nfor (let h = 9; h <= 17; h++) {\n  allHours.push(h.toString().padStart(2, '0') + ':00');\n}\n\nconst occupied = [];\nfor (let i = 0; i < appointments.length; i++) {\n  if (appointments[i].dateStr === date && appointments[i].status !== 'CANCELADA') {\n    occupied.push(appointments[i].time);\n  }\n}\n\nconst available = [];\nfor (let i = 0; i < allHours.length; i++) {\n  if (occupied.indexOf(allHours[i]) === -1) {\n    available.push(allHours[i]);\n  }\n}\n\nreturn [{\n  json: {\n    success: true,\n    date: date,\n    availableHours: available,\n    occupiedHours: occupied,\n    totalSlots: allHours.length,\n    availableSlots: available.length\n  }\n}];"
      },
      "name": "Available Hours Logic",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        450,
        2500
      ],
      "id": "available-hours-logic"
    },
    {
      "parameters": {
        "options": {}
      },
      "name": "Respond Available Hours",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        700,
        2500
      ],
      "id": "respond-available-hours"
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "approve",
        "responseMode": "onReceived",
        "options": {}
      },
      "name": "Webhook Approve",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        200,
        3000
      ],
      "webhookId": "approve-webhook"
    },
    {
      "parameters": {
        "functionCode": "const staticData = getWorkflowStaticData('global');\nconst users = staticData.users || [];\nconst { cedula } = items[0].json.query;\n\nconst user = users.find(u => u.cedula === cedula);\nif (user) {\n    user.status = 'active';\n    staticData.users = users;\n    return [{ json: { success: true, message: 'Usuario aprobado exitosamente.' } }];\n}\n\nreturn [{ json: { success: false, message: 'Usuario no encontrado.' } }];"
      },
      "name": "Approve Logic",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        450,
        3000
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "name": "Respond Approve",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        700,
        3000
      ]
    }
  ],
  "connections": {
    "Webhook Approve": {
      "main": [
        [
          {
            "node": "Approve Logic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Approve Logic": {
      "main": [
        [
          {
            "node": "Respond Approve",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Create": {
      "main": [
        [
          {
            "node": "Create Logic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Logic": {
      "main": [
        [
          {
            "node": "Respond Create",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Get": {
      "main": [
        [
          {
            "node": "Get Logic (Filtered)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Logic (Filtered)": {
      "main": [
        [
          {
            "node": "Respond Get",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Delete": {
      "main": [
        [
          {
            "node": "Delete Logic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Logic": {
      "main": [
        [
          {
            "node": "Respond Delete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Update": {
      "main": [
        [
          {
            "node": "Update Logic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Logic": {
      "main": [
        [
          {
            "node": "Respond Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Register": {
      "main": [
        [
          {
            "node": "Register Logic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Register Logic": {
      "main": [
        [
          {
            "node": "Respond Register",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook View DB": {
      "main": [
        [
          {
            "node": "Generate User Table HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate User Table HTML": {
      "main": [
        [
          {
            "node": "Respond HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Login": {
      "main": [
        [
          {
            "node": "Login Logic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Login Logic": {
      "main": [
        [
          {
            "node": "Respond Login",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Delete Users": {
      "main": [
        [
          {
            "node": "Delete Users Logic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Users Logic": {
      "main": [
        [
          {
            "node": "Respond Delete Users",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Update User": {
      "main": [
        [
          {
            "node": "Update User Logic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update User Logic": {
      "main": [
        [
          {
            "node": "Respond Update User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Get User": {
      "main": [
        [
          {
            "node": "Get User Logic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get User Logic": {
      "main": [
        [
          {
            "node": "Respond Get User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook AI": {
      "main": [
        [
          {
            "node": "Prepare Prompts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Prompts": {
      "main": [
        [
          {
            "node": "Gemini API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini API": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Available Hours": {
      "main": [
        [
          {
            "node": "Available Hours Logic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Available Hours Logic": {
      "main": [
        [
          {
            "node": "Respond Available Hours",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}